In [2]:
from IPython.display import display
import pandas as pd
planilha = pd.read_excel(r'c:\Users\CAUÊ\Documents\Pandas\Script\tst.xlsx')
planilha.loc[planilha["Cor"] == "Azul", "Quantidade"] = 1 # Modificando Células na tabela

display(planilha)

   Contagem      Dia       Cor  Quantidade  Abáco  Colunas1
0         1  Segunda   Amarelo           1      3         1
1         2    Terça      Azul           1      4         2
2         3   Quarta  Vermelho           7      6         3
3         4   Quinta      Azul           1      7         4
4         5    Sexta     Verde          12     13         5
5         6   Sabado     Cinza           3      5        65
6         7  Domingo    Branco           4      9         6

In [5]:
from IPython.display import display
import pandas as pd

lista = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Script\table.tsv', sep='\t')
display(lista)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [6]:
# "sep='\t'" organiza as linhas no dataframe
data = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Script\table.tsv', sep='\t')
display(data)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [7]:
data.info() # Mostrando os valores e informações dos dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

In [8]:
type(data)

pandas.core.frame.DataFrame

In [9]:
data.shape

(120823, 18)

In [10]:
print(f'O dataframe possui {data.shape[0]} linhas e {data.shape[1]} colunas')

O dataframe possui 120823 linhas e 18 colunas

In [ ]:
MANIPULAÇÃO DE DADOS ↓

In [23]:
# Criando tabela

person = pd.DataFrame({
    'nome': ['Luke Skywalker', 'Yoda', 'Palpatine'],
    'idade': [26, 1024, 50],
    'peso': [89.5, 26.4, 60.8],
    'jedi': [True, True, False]
})

In [25]:
person.info() # Retornando as informações da tabela criada, para ver a tabela completa display(person)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   nome    3 non-null      object
 1   idade   3 non-null      int64
 2   peso    3 non-null      float64
 3   jedi    3 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 207.0+ bytes

In [27]:
person.columns # Exibindo nome das colunas

Index(['nome', 'idade', 'peso', 'jedi'], dtype='object')

In [28]:
type(person.columns)

pandas.core.indexes.base.Index

In [29]:
person

             nome  idade  peso   jedi
0  Luke Skywalker     26  89.5   True
1            Yoda   1024  26.4   True
2       Palpatine     50  60.8  False

In [34]:
person_rename = person.rename(columns={
  'nome': 'Nome Completo', # Renomeia a coluna de nome 'nome' para 'Nome Completo'
  'idade': 'Idade'    
})

In [35]:
person_rename

    Nome Completo  Idade  peso   jedi
0  Luke Skywalker     26  89.5   True
1            Yoda   1024  26.4   True
2       Palpatine     50  60.8  False

In [38]:
# Renomeia a coluna de nome 'nome' para 'Nome Completo' de maneira simplificada
person.rename(columns={'nome': 'Nome Completo', 'idade': 'Idade'}, inplace=True)

In [37]:
person

    Nome Completo  Idade  peso   jedi
0  Luke Skywalker     26  89.5   True
1            Yoda   1024  26.4   True
2       Palpatine     50  60.8  False

In [39]:
person.columns = ['NOME', 'IDADE', 'PESO', 'JEDI_TRUE_OR_FALSE'] # Renomeiando Colunas

In [40]:
person

             NOME  IDADE  PESO  JEDI_TRUE_OR_FALSE
0  Luke Skywalker     26  89.5                True
1            Yoda   1024  26.4                True
2       Palpatine     50  60.8               False

In [ ]:
SERIES ↓

In [3]:
from IPython.display import display # Retornando a tabela 
import pandas as pd 

lista = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Script\table.tsv', sep='\t')

In [4]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [6]:
# Selecionando uma coluna inteira
lista['ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [7]:
# Selecionando de outra maneira, essa maneira só funciona para colunas com nomes sem espaço, acentos e etc
lista.ESTADO

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [8]:
type(lista['ESTADO'])

pandas.core.series.Series

In [9]:
# Selecionando observação armazenada no indice (1) no df
lista.iloc[1]

DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
Name: 1, dtype: object

In [10]:
# Selecionando observação armazenada no indice (0) no df
lista.iloc[0]

DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                           DISTRITO FEDERAL
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  127
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.288
DESVIO PADRÃO REVENDA                       0.016
PREÇO MÍNIMO REVENDA                         1.19
PREÇO MÁXIMO REVENDA                         1.35
MARGEM MÉDIA REVENDA                        0.463
COEF DE VARIAÇÃO REVENDA                    0.012
PREÇO MÉDIO DISTRIBUIÇÃO                    0.825
DESVIO PADRÃO DISTRIBUIÇÃO                   0.11
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.4201
PREÇO MÁXIMO DISTRIBUIÇÃO                  0.9666
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.133
Name: 0, dtype: object

In [11]:
pd.Series([3.5, 4.2, 8.7]) # Criando uma Serie

0    3.5
1    4.2
2    8.7
dtype: float64

In [14]:
pd.Series([3.1, 6.4, 9.2], index=['Prova 1', 'Prova 2', 'Projeto']) # Criando uma Serie com Nome

Prova 1    3.1
Prova 2    6.4
Projeto    9.2
dtype: float64

In [16]:
pd.Series([2.1, 3.2, 4.1], index=['Valor 0', 'Valor 1', 'Valor 2'])

Valor 0    2.1
Valor 1    3.2
Valor 2    4.1
dtype: float64

In [ ]:
ATRIBUINDO VALORES A UM DF ↓

In [3]:
from IPython.display import display # Retornando a tabela 
import pandas as pd 

lista = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Script\table.tsv', sep='\t')

In [5]:
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [6]:
produto_view = lista['PRODUTO'] # Series Retornada referente á coluna NÃO É UMA CÓPIA mas sim uma REFERÊNCIA do DF
produto_view

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [7]:
produto_bkp = lista['PRODUTO'].copy() # Agora sim essa serie é referente á uma coluna COPIADA
produto_bkp

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [8]:
lista['PRODUTO'] = 'Combustível' # Atribuindo o valor "Combustível" a coluna "PRODUTO"

In [9]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Combustível,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Combustível,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Combustível,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Combustível,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Combustível,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [10]:
produto_view

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [11]:
produto_bkp

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [12]:
nrows, ncols = lista.shape
nrows, ncols

(120823, 18)

In [13]:
new_products = [f'Produto {i}'for i in range(nrows) ]
len(new_products)

120823

In [20]:
# Quantidade de elementos de 'new_products' é igual ao número de linhas do DF
lista['PRODUTO'] = new_products

In [15]:
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,Produto 0,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,Produto 1,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,Produto 2,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,Produto 3,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,Produto 4,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,Produto 120818,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,Produto 120819,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,Produto 120820,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,Produto 120821,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,Produto 120822,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [22]:
print(produto_view) # O view muda pois é só uma referência
print('\n')
print('\n')
print(produto_bkp) # O bkp não, pois é um backup do DF

0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object




0         ETANOL HIDRATADO
1         ETANOL HIDRATADO
2         ETANOL HIDRATADO
3         ETANOL HIDRATADO
4         ETANOL HIDRATADO
                ...
120818     OLEO DIESEL S10
120819     OLEO DIESEL S10
120820     OLEO DIESEL S10
120821     OLEO DIESEL S10
120822     OLEO DIESEL S10
Name: PRODUTO, Length: 120823, dtype: object

In [23]:
# Voltando aos produtos Originais
lista['PRODUTO'] = produto_bkp # produto_bkp é uma Series, essa linha irá retornar ao valor Original do DF

In [24]:
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [ ]:
CRIANDO COLUNAS/ATRIBUTOS ↓

In [ ]:
from IPython.display import display # Retornando a tabela 
import pandas as pd 

lista = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Script\table.tsv', sep='\t')

In [5]:
lista['Coluna aleatória'] = 'DEFAULT' # Criando coluna a partir de um valor "DEFAULT" 
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT

In [6]:
lista['Coluna a partir de lista'] = range(lista.shape[0]) # Criando coluna a partir da quantidade de linhas

In [7]:
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,3
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120818
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120819
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120820
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120821
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120822

In [8]:
lista['Não funciona'] = [1, 2, 3] # Não funciona pois a quantidade de linhas do script é muito menor da quantidade de linhas da Tabela

ValueError: Length of values (3) does not match length of index (120823)

In [9]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,3
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,4

In [73]:
lista['PREÇO MÉDIO DE REVENDA (U$D)'] = lista['PREÇO MÉDIO REVENDA'] * 4.99 # Criando coluna a partir de outra Coluna

SyntaxError: invalid decimal literal (3238260890.py, line 1)

In [11]:
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0,6.42712
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2,6.93111
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,3,6.29738
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,4,5.89319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,...,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120818,22.86418
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,...,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120819,20.66359
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,...,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120820,21.18754
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,...,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120821,22.27536
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,...,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120822,21.71648

In [ ]:
ÌNDICES ↓

In [12]:
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0,6.42712
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2,6.93111
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,3,6.29738
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,4,5.89319
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,...,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120818,22.86418
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,...,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120819,20.66359
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,...,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120820,21.18754
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,...,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120821,22.27536
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,...,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0,DEFAULT,120822,21.71648

In [1]:
list(lista.index)

SyntaxError: incomplete input (2392457868.py, line 1)

In [29]:
pesquisa_avaliação = pd.DataFrame({ # Criando Series com Index
    'Bom': [23, 25, 42],
    'Ruim': [31, 12, 45],
    'Péssimo': [12, 9, 22]
}, index=['Xbox One', 'PlayStation 4', 'Nintendo Switch'])

In [30]:
pesquisa_avaliação.head()

                 Bom  Ruim  Péssimo
Xbox One          23    31       12
PlayStation 4     25    12        9
Nintendo Switch   42    45       22

In [20]:
pesquisa_avaliação.index

Index(['Xbox One', 'PlayStation 4', 'Nintendo Switch'], dtype='object')

In [ ]:
SELEÇÃO POR INDICES ↓

In [22]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0,6.42712
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2,6.93111
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,3,6.29738
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,4,5.89319

In [31]:
lista.iloc[1] # Extraindo Elemento da linha 1

DATA INICIAL                           2004-05-09
DATA FINAL                             2004-05-15
REGIÃO                               CENTRO OESTE
ESTADO                                      GOIAS
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                  387
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.162
DESVIO PADRÃO REVENDA                       0.114
PREÇO MÍNIMO REVENDA                         0.89
PREÇO MÁXIMO REVENDA                        1.449
MARGEM MÉDIA REVENDA                        0.399
COEF DE VARIAÇÃO REVENDA                    0.098
PREÇO MÉDIO DISTRIBUIÇÃO                    0.763
DESVIO PADRÃO DISTRIBUIÇÃO                  0.088
PREÇO MÍNIMO DISTRIBUIÇÃO                  0.5013
PREÇO MÁXIMO DISTRIBUIÇÃO                    1.05
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.115
Coluna aleatória                          DEFAULT
Coluna a partir de lista                        1
PREÇO MÉDIO DE REVENDA (U$D)              5.79838
Name: 1, dtype: object

In [32]:
# Selecionando as linhas de 0 a 5 (Incluso)
lista.iloc[:5]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0,6.42712
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2,6.93111
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,3,6.29738
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,4,5.89319

In [ ]:
# Selecionando as linhas de índice de 10 a 15 (incluso)

In [33]:
lista.iloc[10:16]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.40,...,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072,DEFAULT,10,7.84927
11,2004-05-09,2004-05-15,NORDESTE,RIO GRANDE DO NORTE,ETANOL HIDRATADO,131,R$/l,1.276,0.116,1.09,...,0.332,0.091,0.944,0.078,0.7119,1.1386,0.083,DEFAULT,11,6.36724
12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,1.15,...,0.321,0.084,0.98,0.052,0.8267,1.1059,0.053,DEFAULT,12,6.49199
13,2004-05-09,2004-05-15,NORTE,ACRE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.50,...,0.689,0.074,1.116,0.171,0.767,1.2992,0.153,DEFAULT,13,9.00695
14,2004-05-09,2004-05-15,NORTE,AMAPA,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.74,...,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122,DEFAULT,14,8.90715
15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.28,...,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06,DEFAULT,15,7.87422

In [34]:
# Selecionando as linhas/observações de indice 1, 5, 10, 15
lista.iloc[[1, 5, 10, 15]]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,...,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,DEFAULT,5,6.90117
10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.400,...,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072,DEFAULT,10,7.84927
15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,...,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06,DEFAULT,15,7.87422

In [35]:
# Selecionando as linhas de forma aleatória
lista.iloc[[5, 1, 13, 8]]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,...,0.426,0.095,0.957,0.128,0.5686,1.35,0.134,DEFAULT,5,6.90117
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
13,2004-05-09,2004-05-15,NORTE,ACRE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.500,...,0.689,0.074,1.116,0.171,0.767,1.2992,0.153,DEFAULT,13,9.00695
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,...,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077,DEFAULT,8,6.40716

In [40]:
# Retornar o valor da linha de indice 1, coluna 4 ('ESTADO')
lista.iloc[13, 7]

1.805

In [ ]:
SELEÇÃO POR LABELS ↓

In [42]:
pesquisa_avaliação

                 Bom  Ruim  Péssimo
Xbox One          23    31       12
PlayStation 4     25    12        9
Nintendo Switch   42    45       22

In [47]:
# Retorna a linha de indice 0 (implicito) ==> usando o iloc
pesquisa_avaliação.iloc[0]

Bom        23
Ruim       31
Péssimo    12
Name: Xbox One, dtype: int64

In [50]:
# Retorna a linha de indice 0 (implicito) e coluna de indice 1 ==> usando o iloc
pesquisa_avaliação.iloc[0, 0]

23

In [51]:
# Retorna linha a partir do nome da mesma
pesquisa_avaliação.loc['Xbox One']

Bom        23
Ruim       31
Péssimo    12
Name: Xbox One, dtype: int64

In [ ]:
# NÂO FUNCIONA ==> tentando acessar indices com nomes utilizando o iloc 
pesquisa_avaliação.iloc['Xbox One']

In [ ]:
# NÂO FUNCIONA ==> tentando acessar indices com números utilizando o loc 
pesquisa_avaliação.loc[1]

In [54]:
pesquisa_avaliação

                 Bom  Ruim  Péssimo
Xbox One          23    31       12
PlayStation 4     25    12        9
Nintendo Switch   42    45       22

In [59]:
# Pesquisando valores especificos utilizando o loc
pesquisa_avaliação.loc['PlayStation 4', 'Ruim']

12

In [60]:
# Pesquisando valores de indices rotulados utilizando listas
pesquisa_avaliação.loc[['Xbox One', 'Nintendo Switch']]

                 Bom  Ruim  Péssimo
Xbox One          23    31       12
Nintendo Switch   42    45       22

In [62]:
# Retorna todas as linhas e apenas as colunas com rótulos 'Bom' e 'Péssimo'
pesquisa_avaliação.loc[:, ['Bom', 'Péssimo']]

                 Bom  Péssimo
Xbox One          23       12
PlayStation 4     25        9
Nintendo Switch   42       22

In [63]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0,6.42712
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2,6.93111
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,...,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,DEFAULT,3,6.29738
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,...,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,DEFAULT,4,5.89319

In [67]:
lista.iloc[:3]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Coluna aleatória,Coluna a partir de lista,PREÇO MÉDIO DE REVENDA (U$D)
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,...,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,DEFAULT,0,6.42712
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,...,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,DEFAULT,1,5.79838
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,...,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,DEFAULT,2,6.93111

In [74]:
lista.loc[3]

DATA INICIAL                             2004-05-09
DATA FINAL                               2004-05-15
REGIÃO                                 CENTRO OESTE
ESTADO                           MATO GROSSO DO SUL
PRODUTO                            ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                    162
UNIDADE DE MEDIDA                              R$/l
PREÇO MÉDIO REVENDA                           1.262
DESVIO PADRÃO REVENDA                          0.07
PREÇO MÍNIMO REVENDA                           1.09
PREÇO MÁXIMO REVENDA                          1.509
MARGEM MÉDIA REVENDA                          0.432
COEF DE VARIAÇÃO REVENDA                      0.055
PREÇO MÉDIO DISTRIBUIÇÃO                       0.83
DESVIO PADRÃO DISTRIBUIÇÃO                    0.119
PREÇO MÍNIMO DISTRIBUIÇÃO                    0.5991
PREÇO MÁXIMO DISTRIBUIÇÃO                   1.22242
COEF DE VARIAÇÃO DISTRIBUIÇÃO                 0.143
Coluna aleatória                            DEFAULT
Coluna a partir de lista                          3
PREÇO MÉDIO DE REVENDA (U$D)                6.29738
Name: 3, dtype: object

In [ ]:
SELEÇÃO DE COLUNAS ↓

In [3]:
from IPython.display import display # Retornando a tabela 
import pandas as pd 

lista = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Script\table.tsv', sep='\t')

In [4]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [6]:
# Retornando a coluna/atributo 'ESTADO'
lista['ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [8]:
# Retornando a coluna/atributo 'ESTADO'
lista.ESTADO

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [19]:
# Retornando a coluna/atributo 'ESTADO'
lista.loc[:, 'ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
120818               RORAIMA
120819        SANTA CATARINA
120820             SAO PAULO
120821               SERGIPE
120822             TOCANTINS
Name: ESTADO, Length: 120823, dtype: object

In [ ]:
# A forma de acesso de colunas por .NOME_DA_COLUNA só funciona se 
# NOME DA COLUNA não possuir caracteres inválidos (espaços, acentos, cedilha, ....)
# -- não funciona -- 
# data.DATA INICIAL

In [20]:
# Para colunas cujos rótulos possuem caracteres inválidos, apenas a seleção via string é válida
lista['DATA INICIAL']

0         2004-05-09
1         2004-05-09
2         2004-05-09
3         2004-05-09
4         2004-05-09
             ...
120818    2021-04-25
120819    2021-04-25
120820    2021-04-25
120821    2021-04-25
120822    2021-04-25
Name: DATA INICIAL, Length: 120823, dtype: object

In [21]:
# Seleciona múltiplas colunas 'PRODUTO', 'ESTADO', 'REGIÃO'
lista[['PRODUTO', 'ESTADO', 'REGIÃO']]

                 PRODUTO              ESTADO        REGIÃO
0       ETANOL HIDRATADO    DISTRITO FEDERAL  CENTRO OESTE
1       ETANOL HIDRATADO               GOIAS  CENTRO OESTE
2       ETANOL HIDRATADO         MATO GROSSO  CENTRO OESTE
3       ETANOL HIDRATADO  MATO GROSSO DO SUL  CENTRO OESTE
4       ETANOL HIDRATADO             ALAGOAS      NORDESTE
...                  ...                 ...           ...
120818   OLEO DIESEL S10             RORAIMA         NORTE
120819   OLEO DIESEL S10      SANTA CATARINA           SUL
120820   OLEO DIESEL S10           SAO PAULO       SUDESTE
120821   OLEO DIESEL S10             SERGIPE      NORDESTE
120822   OLEO DIESEL S10           TOCANTINS         NORTE

[120823 rows x 3 columns]

FILTRAGEM ↓

In [2]:
from IPython.display import display # Retornando a tabela 
import pandas as pd 

lista = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Script\table.tsv', sep='\t')

In [4]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [6]:
# Mostra todos os estados cujos os preços dos combustiveis foram aferidos
# Mais tecnicamente, mostra os valores únicos presentes para o atributo/coluna 'ESTADO'
lista['ESTADO'].unique()

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [7]:
# Faz uma comparção elemento a elemento de series, retornando uma Series de booleans
lista['ESTADO'] == 'SAO PAULO'

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820     True
120821    False
120822    False
Name: ESTADO, Length: 120823, dtype: bool

In [8]:
# Salvando essa Series de booleans em uma variável
selecao = lista['ESTADO'] == 'SAO PAULO'

In [9]:
selecao

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820     True
120821    False
120822    False
Name: ESTADO, Length: 120823, dtype: bool

In [10]:
type(selecao)

pandas.core.series.Series

In [11]:
selecao.shape

(120823,)

In [12]:
lista.shape

(120823, 18)

In [14]:
lista[selecao] # Retornando os valores da tabela "lista" onde a "selecao" é true

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120767,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [15]:
lista.loc[selecao] # Retornando os valores da tabela "lista" onde a "selecao" é true

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120767,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [16]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [18]:
lista.query('ESTADO == "SAO PAULO"') # Filtrando onde o Estado de São Paulo aparece na tela

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120767,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [24]:
postos_sp = lista.query('ESTADO == "SAO PAULO"') # Salvando a query em uma variável

In [26]:
postos_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120767,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [27]:
type(postos_sp)

pandas.core.frame.DataFrame

In [28]:
postos_sp.shape

(4819, 18)

In [33]:
postos_sp.head() # mostrando os primeiros elementos onde 'ESTADO' é igual a 'SAO PAULO'

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104

In [35]:
postos_sp.reset_index() # Ele criará uma coluna com os indices resetados

,index,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
1,50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
2,77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
3,104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
4,131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4815,120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4816,120767,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4817,120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4818,120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [38]:
postos_sp.reset_index(drop=True) # Ele criará uma coluna com os indices resetados sem a coluna "index" dos valores antigos

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
3,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
4,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4815,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4816,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4817,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4818,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [40]:
# Ainda não foi alterado, precisamos usar o atributo/parâmetro inplace=True
postos_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120750,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120767,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [41]:
postos_sp.reset_index(drop=True, inplace=True) # Salvando a coluna alterada na variável

In [42]:
postos_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
3,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
4,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4815,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4816,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4817,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4818,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [59]:
# ALTERNATIVA MUITO COMUM, Criando variável já com a query
postos_sp = lista.query('ESTADO == "SAO PAULO"').reset_index(drop=True)

In [60]:
postos_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103
3,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112
4,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4815,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GLP,663,R$/13Kg,85.340,5.292,68.000,99.990,-99999.0,0.062,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4816,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4817,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
4818,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [63]:
lista.head(24)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077
9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,0.989,1.700,0.277,0.115,0.947,0.091,0.5643,1.3541,0.096
10,2004-05-09,2004-05-15,NORDESTE,PIAUI,ETANOL HIDRATADO,89,R$/l,1.573,0.134,1.400,1.780,0.494,0.085,1.079,0.078,0.8857,1.2499,0.072
11,2004-05-09,2004-05-15,NORDESTE,RIO GRANDE DO NORTE,ETANOL HIDRATADO,131,R$/l,1.276,0.116,1.090,1.590,0.332,0.091,0.944,0.078,0.7119,1.1386,0.083
12,2004-05-09,2004-05-15,NORDESTE,SERGIPE,ETANOL HIDRATADO,57,R$/l,1.301,0.109,1.150,1.750,0.321,0.084,0.98,0.052,0.8267,1.1059,0.053
13,2004-05-09,2004-05-15,NORTE,ACRE,ETANOL HIDRATADO,33,R$/l,1.805,0.134,1.500,1.980,0.689,0.074,1.116,0.171,0.767,1.2992,0.153
14,2004-05-09,2004-05-15,NORTE,AMAPA,ETANOL HIDRATADO,15,R$/l,1.785,0.035,1.740,1.850,0.412,0.020,1.373,0.167,0.8339,1.4912,0.122
15,2004-05-09,2004-05-15,NORTE,AMAZONAS,ETANOL HIDRATADO,53,R$/l,1.578,0.123,1.280,1.850,0.441,0.078,1.137,0.068,0.9515,1.2109,0.06
16,2004-05-09,2004-05-15,NORTE,PARA,ETANOL HIDRATADO,104,R$/l,1.914,0.246,1.270,2.400,0.536,0.129,1.378,0.237,0.7564,1.8908,0.172
17,2004-05-09,2004-05-15,NORTE,RONDONIA,ETANOL HIDRATADO,97,R$/l,1.545,0.141,1.250,1.990,0.533,0.091,1.012,0.149,0.52,1.3306,0.147
18,2004-05-09,2004-05-15,NORTE,RORAIMA,ETANOL HIDRATADO,14,R$/l,1.300,0.000,1.300,1.300,0.202,0.000,1.098,0.096,0.9798,1.3577,0.087
19,2004-05-09,2004-05-15,NORTE,TOCANTINS,ETANOL HIDRATADO,71,R$/l,1.226,0.081,1.050,1.430,0.546,0.066,0.68,0.114,0.51022,1.035,0.168
20,2004-05-09,2004-05-15,SUDESTE,ESPIRITO SANTO,ETANOL HIDRATADO,306,R$/l,1.148,0.116,0.890,1.490,0.267,0.101,0.881,0.095,0.6259,1.1381,0.108
21,2004-05-09,2004-05-15,SUDESTE,MINAS GERAIS,ETANOL HIDRATADO,1238,R$/l,1.205,0.120,0.920,1.875,0.389,0.100,0.816,0.123,0.3797,1.437,0.151
22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098

In [64]:
lista['ESTADO'] == 'RIO DE JANEIRO' # Fazendo Pesquisa Especifíca

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820    False
120821    False
120822    False
Name: ESTADO, Length: 120823, dtype: bool

In [65]:
lista['PREÇO MÉDIO REVENDA'] > 2.0 # Fazendo Pesquisa Especifíca

0         False
1         False
2         False
3         False
4         False
          ...
120818     True
120819     True
120820     True
120821     True
120822     True
Name: PREÇO MÉDIO REVENDA, Length: 120823, dtype: bool

In [73]:
# Fazendo Pesquisa Especifíca e atribuindo a uma variável
selecao = (lista['ESTADO'] == 'RIO DE JANEIRO') & (lista['PREÇO MÉDIO REVENDA'] > 2.0) & (lista['PREÇO MÁXIMO REVENDA'] < 2.5)
selecao

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820    False
120821    False
120822    False
Length: 120823, dtype: bool

In [74]:
lista[selecao]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
7901,2010-01-10,2010-01-16,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,585,R$/l,2.018,0.126,1.599,2.449,0.268,0.062,1.75,0.12,1.2312,2.0307,0.069
8009,2010-02-07,2010-02-13,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,646,R$/l,2.115,0.139,1.620,2.398,0.246,0.066,1.869,0.121,1.4799,2.0838,0.065
8036,2010-02-14,2010-02-20,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,633,R$/l,2.128,0.148,1.620,2.499,0.243,0.070,1.885,0.124,1.4512,2.1811,0.066
8063,2010-02-21,2010-02-27,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,656,R$/l,2.114,0.145,1.620,2.489,0.254,0.069,1.86,0.158,1.0326,2.1517,0.085
8090,2010-02-28,2010-03-06,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,686,R$/l,2.118,0.146,1.730,2.489,0.259,0.069,1.859,0.148,1.3625,2.1982,0.08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77706,2015-10-11,2015-10-17,SUDESTE,RIO DE JANEIRO,GNV,72,R$/m3,2.083,0.127,1.899,2.498,0.593,0.061,1.49,0.134,1.3676,1.8246,0.09
77858,2015-10-18,2015-10-24,SUDESTE,RIO DE JANEIRO,GNV,84,R$/m3,2.096,0.152,1.769,2.498,0.538,0.073,1.558,0.127,1.3738,1.7301,0.082
78010,2015-10-25,2015-10-31,SUDESTE,RIO DE JANEIRO,GNV,89,R$/m3,2.088,0.141,1.769,2.498,0.468,0.068,1.62,0.119,1.3738,1.6937,0.073
78162,2015-11-01,2015-11-07,SUDESTE,RIO DE JANEIRO,GNV,103,R$/m3,2.088,0.136,1.769,2.498,0.637,0.065,1.451,0.127,1.3406,1.6937,0.088
78315,2015-11-08,2015-11-14,SUDESTE,RIO DE JANEIRO,GNV,87,R$/m3,2.106,0.150,1.769,2.498,0.627,0.071,1.479,0.116,1.3816,1.6937,0.078

In [76]:
# Filtrando valores a partir de uma variável
selecao_1 = lista['ESTADO'] == 'RIO DE JANEIRO' 
postos_rj = lista[selecao_1]
postos_rj

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22
49,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,948,R$/l,1.092,0.157,0.740,1.499,0.284,0.144,0.808,0.175,0.3257,1.2921,0.217
76,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,973,R$/l,1.103,0.140,0.770,1.589,0.281,0.127,0.822,0.166,0.38909,1.1859,0.202
103,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,955,R$/l,1.149,0.156,0.799,1.599,0.3,0.136,0.849,0.188,0.3453,1.3667,0.221
130,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,966,R$/l,1.165,0.154,0.830,1.599,0.254,0.132,0.911,0.198,0.4,1.3667,0.217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120744,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GLP,137,R$/13Kg,75.218,5.398,65.000,93.000,-99999.0,0.072,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120763,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GNV,77,R$/m3,3.011,0.385,2.759,4.399,-99999.0,0.128,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120787,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL,72,R$/l,4.290,0.183,3.849,4.599,-99999.0,0.043,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120814,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999.0,0.040,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [77]:
# Filtrando valores a partir de uma variável 
selecao_2 = postos_rj['PREÇO MÉDIO REVENDA'] > 2 
selecao_2

22        False
49        False
76        False
103       False
130       False
          ...
120717     True
120744     True
120763     True
120787     True
120814     True
Name: PREÇO MÉDIO REVENDA, Length: 4819, dtype: bool

In [82]:
# Atribuindo valor a uma variável a partir de uma variável existente
postos_rj_preco_mai_2 = postos_rj[selecao_2] 
postos_rj_preco_mai_2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
2501,2006-02-26,2006-03-04,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,881,R$/l,2.028,0.148,1.589,2.550,0.222,0.073,1.806,0.11,1.31,2.1358,0.061
2528,2006-03-05,2006-03-11,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,889,R$/l,2.125,0.149,1.779,2.550,0.286,0.070,1.839,0.117,1.438,2.2801,0.064
2555,2006-03-12,2006-03-18,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,902,R$/l,2.163,0.138,1.799,2.599,0.268,0.064,1.895,0.134,1.43,2.3454,0.071
2582,2006-03-19,2006-03-25,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,898,R$/l,2.166,0.146,1.760,2.568,0.231,0.067,1.935,0.14,1.438,2.2925,0.072
2609,2006-03-26,2006-04-01,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,890,R$/l,2.172,0.143,1.789,2.550,0.209,0.066,1.963,0.133,1.438,2.2513,0.068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120744,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GLP,137,R$/13Kg,75.218,5.398,65.000,93.000,-99999.0,0.072,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120763,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GNV,77,R$/m3,3.011,0.385,2.759,4.399,-99999.0,0.128,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120787,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL,72,R$/l,4.290,0.183,3.849,4.599,-99999.0,0.043,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120814,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999.0,0.040,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [25]:
# filtragem = (lista['ESTADO'] == 'SAO PAULO') & (lista['PRODUTO'] == 'GASOLINA COMUM') & (lista['PREÇO MÍNIMO REVENDA'] > 2)
# lista[filtragem]

selecao_01 = (lista['ESTADO'] == 'SAO PAULO') | (lista['ESTADO'] == 'RIO DE JANEIRO')
selecao_02 = (lista['PRODUTO'] == 'GASOLINA COMUM')
selecao_03 = (lista['PREÇO MÉDIO REVENDA'] > 2)

selecao_final = selecao_01 & selecao_02 & selecao_03 # Emitando tabela onde tenha as filtragens da selecao_01, selecao_02 e selecao_03

In [26]:
selecao_final

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820    False
120821    False
120822    False
Length: 120823, dtype: bool

In [27]:
lista[selecao_final]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026
12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031
12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120366,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120538,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120544,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [28]:
lista_filtrado = lista[selecao_final] # atribuindo valor a da variável selecao_final á lista_filtrado
lista_filtrado

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026
12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031
12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120366,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120538,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120544,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [30]:
print(lista_filtrado['ESTADO'].unique()) # Verificando valores da tabela  
print(lista_filtrado['PRODUTO'].unique()) # Verificando valores da tabela

['RIO DE JANEIRO' 'SAO PAULO']
['GASOLINA COMUM']

In [32]:
selecao_01 = (lista['ESTADO'] == 'SAO PAULO') | (lista['ESTADO'] == 'RIO DE JANEIRO')
postos_sp_rj = lista[selecao_01]

# Filtragem com apenas postos de são paulo e rio de janeiro
postos_sp_rj

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
22,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,952,R$/l,1.098,0.154,0.740,1.890,0.312,0.140,0.786,0.173,0.326,1.263,0.22
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098
49,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,948,R$/l,1.092,0.157,0.740,1.499,0.284,0.144,0.808,0.175,0.3257,1.2921,0.217
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087
76,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,ETANOL HIDRATADO,973,R$/l,1.103,0.140,0.770,1.589,0.281,0.127,0.822,0.166,0.38909,1.1859,0.202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120767,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GNV,51,R$/m3,3.150,0.282,2.499,3.797,-99999.0,0.090,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120787,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL,72,R$/l,4.290,0.183,3.849,4.599,-99999.0,0.043,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120793,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL,411,R$/l,4.134,0.188,3.699,5.099,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120814,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,OLEO DIESEL S10,155,R$/l,4.302,0.172,3.930,4.699,-99999.0,0.040,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [35]:
selecao_02 = (postos_sp_rj['PRODUTO'] == 'GASOLINA COMUM')
postos_sp_rj_gasolina = postos_sp_rj[selecao_02]

# Apenas Registros de postos dos estados de SP e RJ onde teve gasolina comum
postos_sp_rj_gasolina

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026
12087,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,GASOLINA COMUM,4107,R$/l,1.891,0.101,1.570,2.399,0.235,0.053,1.656,0.064,1.38,1.944,0.039
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027
12114,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,GASOLINA COMUM,4133,R$/l,1.888,0.101,1.540,2.220,0.233,0.053,1.655,0.063,1.38,1.9319,0.038
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120366,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120538,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120544,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [37]:
selecao_03 = (postos_sp_rj_gasolina['PREÇO MÉDIO REVENDA'] > 2)  

postos_sp_rj_gasolina_preco_maior_que_2 = postos_sp_rj_gasolina[selecao_03] # Criando dataframe a partir de outro dataframe  
postos_sp_rj_gasolina_preco_maior_que_2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12086,2004-05-09,2004-05-15,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1071,R$/l,2.045,0.109,1.700,2.599,0.254,0.053,1.791,0.047,1.6363,1.9594,0.026
12113,2004-05-16,2004-05-22,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.040,0.113,1.700,2.599,0.252,0.055,1.788,0.049,1.5943,1.99651,0.027
12140,2004-05-23,2004-05-29,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.042,0.108,1.700,2.599,0.252,0.053,1.79,0.046,1.63596,2.2137,0.026
12167,2004-05-30,2004-06-05,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1055,R$/l,2.053,0.111,1.730,2.599,0.251,0.054,1.802,0.055,1.64,2.21425,0.031
12194,2004-06-06,2004-06-12,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,1091,R$/l,2.063,0.107,1.760,2.599,0.247,0.052,1.816,0.054,1.64,2.32425,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120366,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120538,2021-04-18,2021-04-24,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,240,R$/l,6.071,0.217,5.399,6.599,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120544,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120717,2021-04-25,2021-05-01,SUDESTE,RIO DE JANEIRO,GASOLINA COMUM,198,R$/l,6.099,0.208,5.480,6.599,-99999.0,0.034,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120723,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.0,0.041,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [21]:
lista.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082

In [23]:
# Criando dataframe com valores na mesma coluna porém especificos
selection = (lista['DATA INICIAL'] == '2006-12-17') | (lista['DATA INICIAL'] ==  '2016-06-12') | (lista['DATA INICIAL'] == '2021-04-25')
lista[selection]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
3613,2006-12-17,2006-12-23,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,102,R$/l,1.770,0.066,1.649,1.890,0.316,0.037,1.454,0.055,1.35,1.8245,0.038
3614,2006-12-17,2006-12-23,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,317,R$/l,1.484,0.131,1.340,1.879,0.244,0.088,1.24,0.042,1.1799,1.4764,0.034
3615,2006-12-17,2006-12-23,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,182,R$/l,1.747,0.125,1.370,2.000,0.474,0.072,1.273,0.085,1.15,1.5374,0.067
3616,2006-12-17,2006-12-23,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,160,R$/l,1.747,0.101,1.629,2.040,0.29,0.058,1.457,0.051,1.3604,1.629,0.035
3617,2006-12-17,2006-12-23,NORDESTE,ALAGOAS,ETANOL HIDRATADO,111,R$/l,1.784,0.109,1.620,2.170,0.219,0.061,1.565,0.049,1.4472,1.7482,0.031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [14]:
lista_de_regioes = ['CENTRO OESTE', 'NORDESTE', 'SUL']

In [15]:
selection = lista['REGIÃO'].isin(lista_de_regioes) # Procurando no dataframe se na coluna REGIÃO tem os valores da varável 'lista_de_regioes' 
lista[selection]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120813,2021-04-25,2021-05-01,NORDESTE,PIAUI,OLEO DIESEL S10,36,R$/l,4.382,0.172,3.999,4.897,-99999.0,0.039,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120815,2021-04-25,2021-05-01,NORDESTE,RIO GRANDE DO NORTE,OLEO DIESEL S10,24,R$/l,4.699,0.101,4.490,4.890,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120816,2021-04-25,2021-05-01,SUL,RIO GRANDE DO SUL,OLEO DIESEL S10,148,R$/l,4.140,0.236,3.849,4.949,-99999.0,0.057,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

# ALTERNATIVA 3

In [16]:
lista_de_regioes

['CENTRO OESTE', 'NORDESTE', 'SUL']

In [18]:
# Procurando no dataframe se na coluna REGIÃO tem os valores da varável 'lista_de_regioes' 
lista.query('REGIÃO in @lista_de_regioes')

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120813,2021-04-25,2021-05-01,NORDESTE,PIAUI,OLEO DIESEL S10,36,R$/l,4.382,0.172,3.999,4.897,-99999.0,0.039,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120815,2021-04-25,2021-05-01,NORDESTE,RIO GRANDE DO NORTE,OLEO DIESEL S10,24,R$/l,4.699,0.101,4.490,4.890,-99999.0,0.021,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120816,2021-04-25,2021-05-01,SUL,RIO GRANDE DO SUL,OLEO DIESEL S10,148,R$/l,4.140,0.236,3.849,4.949,-99999.0,0.057,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [58]:
lista.head(10)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35,0.134
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.1,0.068,0.7332,1.294,0.062
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.2972,0.077
9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,0.989,1.700,0.277,0.115,0.947,0.091,0.5643,1.3541,0.096

In [28]:
# script específico percorre as primeiras 10 linhas do DataFrame lista, imprime o índice de cada
# linha e o valor associado à coluna "ESTADO" para cada uma dessas linhas.

for index, row in lista.head(11).iterrows():
    print(f'indice {index} ==> {row["ESTADO"]}')

indice 0 ==> DISTRITO FEDERAL
indice 1 ==> GOIAS
indice 2 ==> MATO GROSSO
indice 3 ==> MATO GROSSO DO SUL
indice 4 ==> ALAGOAS
indice 5 ==> BAHIA
indice 6 ==> CEARA
indice 7 ==> MARANHAO
indice 8 ==> PARAIBA
indice 9 ==> PERNAMBUCO
indice 10 ==> PIAUI

LIMPEZA DE DADOS ↓

In [4]:
lista

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.0,0.012,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.0,0.045,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.0,0.051,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.0,0.046,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.0,0.036,-99999.0,-99999.0,-99999.0,-99999.0,-99999.0

In [5]:
lista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

In [6]:
lista_pre = lista.copy()

In [7]:
lista_pre['DATA INICIAL'] = pd.to_datetime(lista_pre['DATA INICIAL']) # Conversão de dados numéricos
lista_pre['DATA FINAL'] = pd.to_datetime(lista_pre['DATA FINAL'])

In [8]:
lista_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(1), object(10)
memory usage: 16.6+ MB

In [10]:
# Convertento atributos para 'numeric'
for atributo in['MARGEM MÉDIA REVENDA', 
                'PREÇO MÉDIO DISTRIBUIÇÃO', 
                'DESVIO PADRÃO DISTRIBUIÇÃO', 
                'PREÇO MÍNIMO DISTRIBUIÇÃO', 
                'PREÇO MÁXIMO DISTRIBUIÇÃO']:
    # converte a coluna (de string) para um tipo numérico
    # Em caso de erro na conversão (p. ex., uma string que não representa um número, um valor vazio(null / nan) será)
    # atribuido no lugar
    lista_pre[atributo] = pd.to_numeric(lista_pre[atributo], errors='coerce')

In [38]:
lista_pre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  datetime64[ns]
 1   DATA FINAL                     120823 non-null  datetime64[ns]
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           117392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       117423 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     117423 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      117423 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      117423 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(1), object(5)
memory usage: 16.6+ MB

In [11]:
se_null = lista_pre['PREÇO MÉDIO DISTRIBUIÇÃO'].isnull()
se_null

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820    False
120821    False
120822    False
Name: PREÇO MÉDIO DISTRIBUIÇÃO, Length: 120823, dtype: bool

In [12]:
lista_pre[se_null]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,NaN,0.167,NaN,NaN,NaN,NaN,-
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,NaN,0.000,NaN,NaN,NaN,NaN,-
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,NaN,0.010,NaN,NaN,NaN,NaN,-
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,NaN,0.018,NaN,NaN,NaN,NaN,-
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,NaN,0.030,NaN,NaN,NaN,NaN,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,NaN,0.043,NaN,NaN,NaN,NaN,-
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,NaN,0.094,NaN,NaN,NaN,NaN,-
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,NaN,0.002,NaN,NaN,NaN,NaN,-
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,NaN,0.028,NaN,NaN,NaN,NaN,-
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,NaN,0.000,NaN,NaN,NaN,NaN,-

In [13]:
# Nos dados originais, quais eram os valores do PREÇO MÉDIO DISTRIBUIÇÃOn dos registros que agora possuem valores NAN
lista[se_null]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,-,0.167,-,-,-,-,-
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,-,0.000,-,-,-,-,-
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,-,0.010,-,-,-,-,-
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,-,0.018,-,-,-,-,-
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,-,0.030,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,-,0.043,-,-,-,-,-
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,-,0.094,-,-,-,-,-
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,-,0.002,-,-,-,-,-
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,-,0.028,-,-,-,-,-
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,-,0.000,-,-,-,-,-

In [14]:
lista.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 16.6+ MB

In [17]:
# Preenche valores nas colunas onde há valores NAN 
# Para alterar o próprio data frame, use o argumento 'inplace=true'
lista_pre_fill = lista_pre.fillna(0) 
lista_pre_fill

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120818,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.000,0.012,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.0
120819,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.000,0.045,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.0
120820,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.000,0.051,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.0
120821,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.000,0.046,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.0
120822,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.0

In [18]:
lista_pre_fill[se_null] # Valores que antes eram NaN agora são 0

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,0.0,0.167,0.0,0.0,0.0,0.0,-
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,0.0,0.000,0.0,0.0,0.0,0.0,-
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,0.0,0.010,0.0,0.0,0.0,0.0,-
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,0.0,0.018,0.0,0.0,0.0,0.0,-
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,0.0,0.030,0.0,0.0,0.0,0.0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,0.0,0.043,0.0,0.0,0.0,0.0,-
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,0.0,0.094,0.0,0.0,0.0,0.0,-
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,0.0,0.002,0.0,0.0,0.0,0.0,-
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,0.0,0.028,0.0,0.0,0.0,0.0,-
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,0.0,0.000,0.0,0.0,0.0,0.0,-

In [ ]:
lista_pre_fill[se_null] # Não alteramos o DataFrame pré processado

In [28]:
lista_pre_fill = lista_pre.fillna(value={
    'PREÇO MÉDIO DISTRIBUIÇÃO': 20,
    'DESVIO PADRÃO DISTRIBUIÇÃO':'Nenhum',
    'PREÇO MÍNIMO DISTRIBUIÇÃO': 10,
    'PREÇO MÁXIMO DISTRIBUIÇÃO':40
})

In [29]:
lista_pre_fill[se_null]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
1903,2005-09-25,2005-10-01,NORTE,PARA,ETANOL HIDRATADO,2,R$/l,1.694,0.283,1.690,2.090,NaN,0.167,20.0,Nenhum,10.0,40.0,-
1958,2005-10-09,2005-10-15,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.000,0.000,2.000,2.000,NaN,0.000,20.0,Nenhum,10.0,40.0,-
2012,2005-10-23,2005-10-29,NORTE,RORAIMA,ETANOL HIDRATADO,3,R$/l,2.277,0.023,2.250,2.290,NaN,0.010,20.0,Nenhum,10.0,40.0,-
2497,2006-02-26,2006-03-04,NORTE,RORAIMA,ETANOL HIDRATADO,11,R$/l,2.182,0.040,2.100,2.200,NaN,0.018,20.0,Nenhum,10.0,40.0,-
3199,2006-08-27,2006-09-02,NORTE,RORAIMA,ETANOL HIDRATADO,22,R$/l,2.285,0.068,1.980,2.300,NaN,0.030,20.0,Nenhum,10.0,40.0,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106664,2019-06-16,2019-06-22,SUDESTE,MINAS GERAIS,GNV,5,R$/m3,3.445,0.147,3.347,3.699,NaN,0.043,20.0,Nenhum,10.0,40.0,-
106666,2019-06-16,2019-06-22,SUL,PARANA,GNV,7,R$/m3,3.132,0.295,3.049,3.890,NaN,0.094,20.0,Nenhum,10.0,40.0,-
106811,2019-06-23,2019-06-29,SUDESTE,ESPIRITO SANTO,GNV,4,R$/m3,3.299,0.005,3.290,3.299,NaN,0.002,20.0,Nenhum,10.0,40.0,-
106813,2019-06-23,2019-06-29,SUDESTE,MINAS GERAIS,GNV,6,R$/m3,3.548,0.100,3.495,3.699,NaN,0.028,20.0,Nenhum,10.0,40.0,-
106815,2019-06-23,2019-06-29,SUL,PARANA,GNV,1,R$/m3,3.290,0.000,3.290,3.290,NaN,0.000,20.0,Nenhum,10.0,40.0,-

In [30]:
lista_pre.dropna(inplace=True)

In [32]:
lista_pre.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117392 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   117392 non-null  datetime64[ns]
 1   DATA FINAL                     117392 non-null  datetime64[ns]
 2   REGIÃO                         117392 non-null  object
 3   ESTADO                         117392 non-null  object
 4   PRODUTO                        117392 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   117392 non-null  int64
 6   UNIDADE DE MEDIDA              117392 non-null  object
 7   PREÇO MÉDIO REVENDA            117392 non-null  float64
 8   DESVIO PADRÃO REVENDA          117392 non-null  float64
 9   PREÇO MÍNIMO REVENDA           117392 non-null  float64
 10  PREÇO MÁXIMO REVENDA           117392 non-null  float64
 11  MARGEM MÉDIA REVENDA           117392 non-null  float64
 12  COEF DE VARIAÇÃO REVENDA       117392 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       117392 non-null  float64
 14  DESVIO PADRÃO DISTRIBUIÇÃO     117392 non-null  float64
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      117392 non-null  float64
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      117392 non-null  float64
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  117392 non-null  object
dtypes: datetime64[ns](2), float64(10), int64(1), object(5)
memory usage: 17.0+ MB

In [55]:
# Salvando dataframe criado
lista_pre.to_csv(r'C:\Users\CAUÊ\Documents\Pandas\Estudos\lista_pre.csv', index=False)

# ESTATÍSTICAS DESCRITIVAS ↓

In [15]:
lista_final = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Estudos\lista_pre.csv')

In [57]:
lista_final

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117387,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.000,0.012,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117388,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.000,0.045,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117389,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.000,0.051,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117390,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.000,0.046,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117391,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000

In [61]:
lista_final.describe() # Exibe várias estatisticas decritivas para os atributos de um dataframe ou para uma Series

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000
mean,226.632190,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.543450,-4682.203033,-4691.881144
std,392.042029,19.149383,1.402620,16.418908,22.465797,21163.482182,0.024240,21148.461919,21146.694241,21148.212724,21148.734887,21146.581196
min,1.000000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000
25%,42.000000,2.159000,0.076000,1.990000,2.440000,0.272000,0.030000,1.757000,0.044000,1.638000,1.900275,0.019000
50%,102.000000,2.915000,0.121000,2.699000,3.240000,0.381000,0.042000,2.359000,0.076000,2.238300,2.537800,0.029000
75%,229.250000,4.023000,0.203000,3.780000,4.580000,0.554000,0.058000,3.364000,0.148000,3.199650,3.576200,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000

In [60]:
lista_final.describe()['PREÇO MÉDIO REVENDA'] # O describe()método retorna a descrição dos dados no DataFrame.

count    117392.000000
mean         11.415039
std          19.149383
min           0.766000
25%           2.159000
50%           2.915000
75%           4.023000
max         107.500000
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [63]:
stats = lista_final.describe() # Criando DataFrame a partir do Dataframe acima criado
stats

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000
mean,226.632190,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.543450,-4682.203033,-4691.881144
std,392.042029,19.149383,1.402620,16.418908,22.465797,21163.482182,0.024240,21148.461919,21146.694241,21148.212724,21148.734887,21146.581196
min,1.000000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000
25%,42.000000,2.159000,0.076000,1.990000,2.440000,0.272000,0.030000,1.757000,0.044000,1.638000,1.900275,0.019000
50%,102.000000,2.915000,0.121000,2.699000,3.240000,0.381000,0.042000,2.359000,0.076000,2.238300,2.537800,0.029000
75%,229.250000,4.023000,0.203000,3.780000,4.580000,0.554000,0.058000,3.364000,0.148000,3.199650,3.576200,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000

In [71]:
# Fazendo pesquisa das colunas no DataFrame 
stats[['PREÇO MÉDIO REVENDA', 
       'PREÇO MÍNIMO REVENDA', 
       'PREÇO MÁXIMO REVENDA']]

       PREÇO MÉDIO REVENDA  PREÇO MÍNIMO REVENDA  PREÇO MÁXIMO REVENDA
count        117392.000000         117392.000000         117392.000000
mean             11.415039              9.922806             13.184631
std              19.149383             16.418908             22.465797
min               0.766000              0.590000              0.999000
25%               2.159000              1.990000              2.440000
50%               2.915000              2.699000              3.240000
75%               4.023000              3.780000              4.580000
max             107.500000            100.000000            120.000000

In [72]:
stats

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000,117392.000000
mean,226.632190,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.543450,-4682.203033,-4691.881144
std,392.042029,19.149383,1.402620,16.418908,22.465797,21163.482182,0.024240,21148.461919,21146.694241,21148.212724,21148.734887,21146.581196
min,1.000000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000
25%,42.000000,2.159000,0.076000,1.990000,2.440000,0.272000,0.030000,1.757000,0.044000,1.638000,1.900275,0.019000
50%,102.000000,2.915000,0.121000,2.699000,3.240000,0.381000,0.042000,2.359000,0.076000,2.238300,2.537800,0.029000
75%,229.250000,4.023000,0.203000,3.780000,4.580000,0.554000,0.058000,3.364000,0.148000,3.199650,3.576200,0.058000
max,4167.000000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.000000,94.500000,0.780000

In [73]:
# Procurando no Data Frame os valores 'min', 'max', 'mean'
stats.loc[['min', 'max', 'mean']]

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
min,1.00000,0.766000,0.000000,0.590000,0.999000,-99999.000000,0.000000,-99999.000000,-99999.000000,-99999.00000,-99999.000000,-99999.000000
max,4167.00000,107.500000,10.748000,100.000000,120.000000,36.847000,0.262000,83.137000,18.385000,83.00000,94.500000,0.780000
mean,226.63219,11.415039,0.680834,9.922806,13.184631,-4697.376395,0.045586,-4683.425711,-4691.371824,-4684.54345,-4682.203033,-4691.881144

In [77]:
# Fazendo procura no dataframe de coluna e linha 
stats.loc[['min', 'max', 'mean'], ['PREÇO MÉDIO REVENDA','MARGEM MÉDIA REVENDA']]

      PREÇO MÉDIO REVENDA  MARGEM MÉDIA REVENDA
min              0.766000         -99999.000000
max            107.500000             36.847000
mean            11.415039          -4697.376395

In [82]:
lista_final.head(10)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.35000,0.134
6,2004-05-09,2004-05-15,NORDESTE,CEARA,ETANOL HIDRATADO,278,R$/l,1.453,0.218,1.030,1.950,0.353,0.150,1.100,0.068,0.7332,1.29400,0.062
7,2004-05-09,2004-05-15,NORDESTE,MARANHAO,ETANOL HIDRATADO,105,R$/l,1.631,0.158,1.350,2.000,0.515,0.097,1.116,0.091,0.9923,1.36183,0.082
8,2004-05-09,2004-05-15,NORDESTE,PARAIBA,ETANOL HIDRATADO,125,R$/l,1.284,0.130,1.100,1.699,0.353,0.101,0.931,0.072,0.7577,1.29720,0.077
9,2004-05-09,2004-05-15,NORDESTE,PERNAMBUCO,ETANOL HIDRATADO,423,R$/l,1.224,0.141,0.989,1.700,0.277,0.115,0.947,0.091,0.5643,1.35410,0.096

In [80]:
# Retornando o valor minimo da coluna "PREÇO MÉDIO REVENDA"
lista_final['PREÇO MÉDIO REVENDA'].min()

0.7659999999999999

In [84]:
mean = lista_final['PREÇO MÉDIO REVENDA'].mean() # Calculando a média de valores na coluna "PREÇO MÉDIO REVENDA"
std = lista_final['PREÇO MÉDIO REVENDA'].std() # Calculando o desvio padrão do conjunto de números, DF, coluna e linha na coluna "PREÇO MÉDIO REVENDA"

print(f'A média dos valores é {mean:.2f} +- {std:.2f}')

A média dos valores é 11.42 +- 19.15

In [86]:
lista_final['ESTADO']

0           DISTRITO FEDERAL
1                      GOIAS
2                MATO GROSSO
3         MATO GROSSO DO SUL
4                    ALAGOAS
                 ...
117387               RORAIMA
117388        SANTA CATARINA
117389             SAO PAULO
117390               SERGIPE
117391             TOCANTINS
Name: ESTADO, Length: 117392, dtype: object

In [87]:
lista_final['ESTADO'].unique() # Retornando os valores da linha acima sem repetições

array(['DISTRITO FEDERAL', 'GOIAS', 'MATO GROSSO', 'MATO GROSSO DO SUL',
       'ALAGOAS', 'BAHIA', 'CEARA', 'MARANHAO', 'PARAIBA', 'PERNAMBUCO',
       'PIAUI', 'RIO GRANDE DO NORTE', 'SERGIPE', 'ACRE', 'AMAPA',
       'AMAZONAS', 'PARA', 'RONDONIA', 'RORAIMA', 'TOCANTINS',
       'ESPIRITO SANTO', 'MINAS GERAIS', 'RIO DE JANEIRO', 'SAO PAULO',
       'PARANA', 'RIO GRANDE DO SUL', 'SANTA CATARINA'], dtype=object)

In [10]:
sorted(lista_final['ESTADO'].unique()) # Retornando os valores em ordem alfabetica

['ACRE',
 'ALAGOAS',
 'AMAPA',
 'AMAZONAS',
 'BAHIA',
 'CEARA',
 'DISTRITO FEDERAL',
 'ESPIRITO SANTO',
 'GOIAS',
 'MARANHAO',
 'MATO GROSSO',
 'MATO GROSSO DO SUL',
 'MINAS GERAIS',
 'PARA',
 'PARAIBA',
 'PARANA',
 'PERNAMBUCO',
 'PIAUI',
 'RIO DE JANEIRO',
 'RIO GRANDE DO NORTE',
 'RIO GRANDE DO SUL',
 'RONDONIA',
 'RORAIMA',
 'SANTA CATARINA',
 'SAO PAULO',
 'SERGIPE',
 'TOCANTINS']

In [11]:
# Retorna em ordem Decrescente, a quantidade de registros/linhas para cada estado
lista_final['ESTADO'].value_counts()

ESTADO
BAHIA                  4819
RIO DE JANEIRO         4818
SAO PAULO              4817
RIO GRANDE DO SUL      4805
PARAIBA                4796
PERNAMBUCO             4787
SERGIPE                4738
SANTA CATARINA         4720
MINAS GERAIS           4698
ESPIRITO SANTO         4634
MATO GROSSO DO SUL     4623
ALAGOAS                4576
RIO GRANDE DO NORTE    4555
CEARA                  4514
PARANA                 4458
AMAZONAS               4238
MATO GROSSO            4232
MARANHAO               3942
PARA                   3935
ACRE                   3931
RORAIMA                3924
TOCANTINS              3923
GOIAS                  3920
RONDONIA               3912
PIAUI                  3863
DISTRITO FEDERAL       3790
AMAPA                  3424
Name: count, dtype: int64

In [9]:
lista_final['ESTADO'].value_counts().to_frame() # Converte o '.value_counts' em DataFrame

                     count
ESTADO
BAHIA                 4819
RIO DE JANEIRO        4818
SAO PAULO             4817
RIO GRANDE DO SUL     4805
PARAIBA               4796
PERNAMBUCO            4787
SERGIPE               4738
SANTA CATARINA        4720
MINAS GERAIS          4698
ESPIRITO SANTO        4634
MATO GROSSO DO SUL    4623
ALAGOAS               4576
RIO GRANDE DO NORTE   4555
CEARA                 4514
PARANA                4458
AMAZONAS              4238
MATO GROSSO           4232
MARANHAO              3942
PARA                  3935
ACRE                  3931
RORAIMA               3924
TOCANTINS             3923
GOIAS                 3920
RONDONIA              3912
PIAUI                 3863
DISTRITO FEDERAL      3790
AMAPA                 3424

# Apply e Map ↓

In [2]:
# Criando o DataFrame
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [16, 32, 53, 64],
    'C': [107, 145, 242, 132]},
    index=['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])

In [42]:
df

         A   B    C
Linha 1  1  16  107
Linha 2  2  32  145
Linha 3  3  53  242
Linha 4  4  64  132

In [43]:
# Retorna a soma de todos os valores de uma linha
def nossa_soma(series):
    return series.sum()

![Axis](https://i.stack.imgur.com/DL0iQ.jpg)

In [44]:
# Somando valores com o .apply(), na horizontal ⭢
df['SOMA(A, B, C)'] = df.apply(nossa_soma, axis=1)
df

         A   B    C  SOMA(A, B, C)
Linha 1  1  16  107            124
Linha 2  2  32  145            179
Linha 3  3  53  242            298
Linha 4  4  64  132            200

In [46]:
# Somando valores na vertical ⬇ 
df.apply(nossa_soma, axis=0)

A                 10
B                165
C                626
SOMA(A, B, C)    801
dtype: int64

In [47]:
# Calculando o valor Total das colunas e adicionando ao final do DF
df.loc['Total'] = df.apply(nossa_soma, axis=0)
df

          A    B    C  SOMA(A, B, C)
Linha 1   1   16  107            124
Linha 2   2   32  145            179
Linha 3   3   53  242            298
Linha 4   4   64  132            200
Total    10  165  626            801

In [52]:
# Calculando a média das linhas e criando uma nova coluna ao DF
df['MEDIA(A, B, C)'] = df[['A', 'B', 'C']].apply(lambda series: series.mean(), axis=1)
df

          A    B    C  SOMA(A, B, C)  MEDIA(A, B, C)
Linha 1   1   16  107            124       41.333333
Linha 2   2   32  145            179       59.666667
Linha 3   3   53  242            298       99.333333
Linha 4   4   64  132            200       66.666667
Total    10  165  626            801      267.000000

In [4]:
# Criando função para multiplicação de números 
df['A * 2'] = df['A'].apply(lambda x: x * 2)
df

         A   B    C  A * 2
Linha 1  1  16  107      2
Linha 2  2  32  145      4
Linha 3  3  53  242      6
Linha 4  4  64  132      8

In [7]:
# Replicando o que foi feito no dataframe acima com a função já criada
df['B * 2'] = df['B'] * 2
df

         A   B    C  A * 2  B * 2
Linha 1  1  16  107      2     32
Linha 2  2  32  145      4     64
Linha 3  3  53  242      6    106
Linha 4  4  64  132      8    128

In [10]:
# Replicando o que foi feito no dataframe acima com a função já criada
df['C * 2'] = df['C'] * 2
df

         A   B    C  A * 2  B * 2  C * 2
Linha 1  1  16  107      2     32    214
Linha 2  2  32  145      4     64    290
Linha 3  3  53  242      6    106    484
Linha 4  4  64  132      8    128    264

# APPLYMAP

In [12]:
df2 = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [10, 20, 30, 40],
    'C': [100, 200, 300, 400]},
    index=['Linha 1', 'Linha 2', 'Linha 3', 'Linha 4'])
df2

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

In [14]:
# Retorna um novo DataFrame com todos elementos ao Quadrado
# Poderiamos usar uma função ao invés de uma lambda function 
df2.applymap(lambda x: x ** 2)

C:\Users\CAUÊ\AppData\Local\Temp\ipykernel_11456\605076564.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df2.applymap(lambda x: x ** 2)

          A     B       C
Linha 1   1   100   10000
Linha 2   4   400   40000
Linha 3   9   900   90000
Linha 4  16  1600  160000

# MAP

In [62]:
nomes = pd.Series(['João', 'Maria', 'Alice', 'Pedro'])
nomes

0     João
1    Maria
2    Alice
3    Pedro
dtype: object

In [63]:
nomes.map(lambda x: x.upper())

0     JOÃO
1    MARIA
2    ALICE
3    PEDRO
dtype: object

In [64]:
nomes.str.upper()

0     JOÃO
1    MARIA
2    ALICE
3    PEDRO
dtype: object

# AGRUPAMENTO

In [46]:
lista_final2 = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Estudos\lista_pre.csv')
lista_final2.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082

In [5]:
# Agrupa as linhas da tabela de acordo com suas respectivas regiões
grupo = lista_final2.groupby('REGIÃO') 
grupo

In [44]:
# Retorna os grupos obtidos pelo groupby
grupo.groups # Retorna o indice de onde a região 'CENTRO OESTE' está

{'CENTRO OESTE': [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], 'NORDESTE': [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], 'NORTE': [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], 'SUDESTE': [20, 21, 22, 23, 47, 48, 49, 50, 74, 75, 76, 77, 101, 102, 103, 104, 128, 129, 130, 131, 155, 156, 157, 158, 182, 183, 184, 185, 209, 210, 211, 212, 236, 237, 238, 239, 263, 264, 265, 266, 290, 291, 292, 293, 317, 318, 319, 320, 344, 345, 346, 347, 371, 372, 373, 374, 398, 399, 400, 401, 425, 426, 427, 428, 452, 453, 454, 455, 479, 480, 481, 482, 506, 507, 508, 509, 533, 534, 535, 536, 560, 561, 562, 563, 587, 588, 589, 590, 614, 615, 616, 617, 641, 642, 643, 644, 668, 669, 670, 671, ...], 'SUL': [24, 25, 26, 51, 52, 53, 78, 79, 80, 105, 106, 107, 132, 133, 134, 159, 160, 161, 186, 187, 188, 213, 214, 215, 240, 241, 242, 267, 268, 269, 294, 295, 296, 321, 322, 323, 348, 349, 350, 375, 376, 377, 402, 403, 404, 429, 430, 431, 456, 457, 458, 483, 484, 485, 510, 511, 512, 537, 538, 539, 564, 565, 566, 591, 592, 593, 618, 619, 620, 645, 646, 647, 672, 673, 674, 699, 700, 701, 726, 727, 728, 753, 754, 755, 780, 781, 782, 807, 808, 809, 834, 835, 836, 861, 862, 863, 888, 889, 890, 915, ...]}

In [45]:
# Retorna os indices das linhas/observações de cada grupo
grupo.indices

{'CENTRO OESTE': array([     0,      1,      2, ..., 117373, 117375, 117376], dtype=int64),
 'NORDESTE': array([     4,      5,      6, ..., 117382, 117384, 117390], dtype=int64),
 'NORTE': array([    13,     14,     15, ..., 117386, 117387, 117391], dtype=int64),
 'SUDESTE': array([    20,     21,     22, ..., 117377, 117383, 117389], dtype=int64),
 'SUL': array([    24,     25,     26, ..., 117380, 117385, 117388], dtype=int64)}

In [48]:
# Retorna um DataFrame com apenas os indices 'CENTRO OESTE' na coluna REGIÃO
grupo.get_group('CENTRO OESTE')

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
27,2004-05-16,2004-05-22,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,144,R$/l,1.271,0.039,1.060,1.300,0.448,0.031,0.823,0.111,0.4094,1.19310,0.135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117349,2021-04-25,2021-05-01,CENTRO OESTE,MATO GROSSO DO SUL,OLEO DIESEL,30,R$/l,4.203,0.174,3.889,4.649,-99999.000,0.041,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117371,2021-04-25,2021-05-01,CENTRO OESTE,DISTRITO FEDERAL,OLEO DIESEL S10,35,R$/l,4.318,0.141,4.058,4.599,-99999.000,0.033,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117373,2021-04-25,2021-05-01,CENTRO OESTE,GOIAS,OLEO DIESEL S10,66,R$/l,4.402,0.150,4.140,4.799,-99999.000,0.034,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117375,2021-04-25,2021-05-01,CENTRO OESTE,MATO GROSSO,OLEO DIESEL S10,101,R$/l,4.594,0.139,4.299,4.899,-99999.000,0.030,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117376,2021-04-25,2021-05-01,CENTRO OESTE,MATO GROSSO DO SUL,OLEO DIESEL S10,44,R$/l,4.232,0.151,3.990,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000

In [49]:
# Descreve para nós algumas estatisticas descritivas para as observações de cada grupo
grupo.describe()

             NÚMERO DE POSTOS PESQUISADOS                                      \
                                    count        mean         std  min    25%
REGIÃO
CENTRO OESTE                      16565.0  137.275521  103.448516  1.0   76.0
NORDESTE                          40590.0  118.363439  110.578621  1.0   38.0
NORTE                             27287.0   64.003921   51.745055  1.0   28.0
SUDESTE                           18967.0  684.316655  763.338730  1.0  146.0
SUL                               13983.0  343.313738  231.843167  1.0  150.0

                                   PREÇO MÉDIO REVENDA             ...  \
                50%    75%     max               count       mean  ...
REGIÃO                                                             ...
CENTRO OESTE  118.0  176.0   766.0             16565.0  12.873181  ...
NORDESTE       84.0  153.0   625.0             40590.0  10.202962  ...
NORTE          50.0   89.0   383.0             27287.0  13.397427  ...
SUDESTE       384.0  984.0  4167.0             18967.0  10.338534  ...
SUL           355.0  542.5  1416.0             13983.0  10.797774  ...

             PREÇO MÁXIMO DISTRIBUIÇÃO        COEF DE VARIAÇÃO DISTRIBUIÇÃO  \
                                   75%    max                         count
REGIÃO
CENTRO OESTE                   3.65000  94.50                       16565.0
NORDESTE                       3.43080  89.90                       40590.0
NORTE                          3.88490  88.00                       27287.0
SUDESTE                        3.53805  76.05                       18967.0
SUL                            3.47025  74.00                       13983.0


                     mean           std      min    25%    50%    75%    max
REGIÃO
CENTRO OESTE -4811.263454  21401.044211 -99999.0  0.017  0.027  0.049  0.419
NORDESTE     -4614.345790  20979.826818 -99999.0  0.018  0.030  0.061  0.608
NORTE        -4760.427972  21293.104215 -99999.0  0.017  0.027  0.043  0.368
SUDESTE      -4502.455107  20736.375552 -99999.0  0.023  0.035  0.079  0.780
SUL          -4898.703597  21584.874201 -99999.0  0.023  0.034  0.082  0.435

[5 rows x 96 columns]

In [54]:
# Procurando no DataFrame os valores maximos em cada coluna
grupo.max()

,DATA INICIAL,DATA FINAL,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
REGIÃO,,,,,,,,,,,,,,,,,
CENTRO OESTE,2021-04-25,2021-05-01,MATO GROSSO DO SUL,ÓLEO DIESEL S10,766,R$/m3,105.194,9.711,90.00,120.0,36.847,0.262,83.137,18.385,83.00,94.50,0.419
NORDESTE,2021-04-25,2021-05-01,SERGIPE,ÓLEO DIESEL S10,625,R$/m3,91.725,10.748,84.99,100.0,31.819,0.228,59.542,13.435,55.35,89.90,0.608
NORTE,2021-04-25,2021-05-01,TOCANTINS,ÓLEO DIESEL S10,383,R$/m3,107.500,10.675,100.00,115.0,27.989,0.168,77.041,12.428,77.03,88.00,0.368
SUDESTE,2021-04-25,2021-05-01,SAO PAULO,ÓLEO DIESEL S10,4167,R$/m3,87.091,9.632,72.99,110.0,29.917,0.201,54.799,7.165,46.93,76.05,0.780
SUL,2021-04-25,2021-05-01,SANTA CATARINA,ÓLEO DIESEL S10,1416,R$/m3,91.189,10.270,88.00,110.0,24.717,0.187,55.213,8.716,52.50,74.00,0.435

In [55]:
# O script acima também poderia ser representado dessa forma
lista_final2.groupby('REGIÃO').max()

,DATA INICIAL,DATA FINAL,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
REGIÃO,,,,,,,,,,,,,,,,,
CENTRO OESTE,2021-04-25,2021-05-01,MATO GROSSO DO SUL,ÓLEO DIESEL S10,766,R$/m3,105.194,9.711,90.00,120.0,36.847,0.262,83.137,18.385,83.00,94.50,0.419
NORDESTE,2021-04-25,2021-05-01,SERGIPE,ÓLEO DIESEL S10,625,R$/m3,91.725,10.748,84.99,100.0,31.819,0.228,59.542,13.435,55.35,89.90,0.608
NORTE,2021-04-25,2021-05-01,TOCANTINS,ÓLEO DIESEL S10,383,R$/m3,107.500,10.675,100.00,115.0,27.989,0.168,77.041,12.428,77.03,88.00,0.368
SUDESTE,2021-04-25,2021-05-01,SAO PAULO,ÓLEO DIESEL S10,4167,R$/m3,87.091,9.632,72.99,110.0,29.917,0.201,54.799,7.165,46.93,76.05,0.780
SUL,2021-04-25,2021-05-01,SANTA CATARINA,ÓLEO DIESEL S10,1416,R$/m3,91.189,10.270,88.00,110.0,24.717,0.187,55.213,8.716,52.50,74.00,0.435

In [6]:
lista_final2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117387,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.000,0.012,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117388,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.000,0.045,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117389,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.000,0.051,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117390,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.000,0.046,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117391,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000

### Qual é o preço médio de cada Produto (Combustível) para cada Região?

In [23]:
grups = lista_final2.groupby(['REGIÃO', 'PRODUTO']) # Agrupando os valores 
grups

In [24]:
grups.groups # Todos os indices de todas observações da REGIÃO CENTRO OESTE, NORDESTE, NORTE, SUDESTE e SUL

{('CENTRO OESTE', 'ETANOL HIDRATADO'): [0, 1, 2, 3, 27, 28, 29, 30, 54, 55, 56, 57, 81, 82, 83, 84, 108, 109, 110, 111, 135, 136, 137, 138, 162, 163, 164, 165, 189, 190, 191, 192, 216, 217, 218, 219, 243, 244, 245, 246, 270, 271, 272, 273, 297, 298, 299, 300, 324, 325, 326, 327, 351, 352, 353, 354, 378, 379, 380, 381, 405, 406, 407, 408, 432, 433, 434, 435, 459, 460, 461, 462, 486, 487, 488, 489, 513, 514, 515, 516, 540, 541, 542, 543, 567, 568, 569, 570, 594, 595, 596, 597, 621, 622, 623, 624, 648, 649, 650, 651, ...], ('CENTRO OESTE', 'GASOLINA ADITIVADA'): [112484, 112486, 112488, 112489, 112659, 112661, 112663, 112664, 112832, 112834, 112836, 112837, 113007, 113009, 113011, 113012, 113184, 113186, 113188, 113189, 113360, 113362, 113364, 113365, 113534, 113536, 113538, 113539, 113708, 113710, 113712, 113713, 113882, 113884, 113886, 113887, 114054, 114056, 114058, 114059, 114231, 114233, 114235, 114236, 114405, 114407, 114409, 114410, 114580, 114582, 114584, 114585, 114756, 114758, 114760, 114761, 114932, 114934, 114936, 114937, 115108, 115110, 115112, 115113, 115285, 115287, 115289, 115290, 115462, 115464, 115466, 115467, 115640, 115642, 115644, 115645, 115817, 115819, 115821, 115822, 115997, 115999, 116001, 116002, 116177, 116179, 116181, 116182, 116355, 116357, 116359, 116360, 116533, 116535, 116537, 116538, 116711, 116713, 116715, 116716, ...], ('CENTRO OESTE', 'GASOLINA COMUM'): [11980, 11981, 11982, 11983, 12007, 12008, 12009, 12010, 12034, 12035, 12036, 12037, 12061, 12062, 12063, 12064, 12088, 12089, 12090, 12091, 12115, 12116, 12117, 12118, 12142, 12143, 12144, 12145, 12169, 12170, 12171, 12172, 12196, 12197, 12198, 12199, 12223, 12224, 12225, 12226, 12250, 12251, 12252, 12253, 12277, 12278, 12279, 12280, 12304, 12305, 12306, 12307, 12331, 12332, 12333, 12334, 12358, 12359, 12360, 12361, 12385, 12386, 12387, 12388, 12412, 12413, 12414, 12415, 12439, 12440, 12441, 12442, 12466, 12467, 12468, 12469, 12493, 12494, 12495, 12496, 12520, 12521, 12522, 12523, 12547, 12548, 12549, 12550, 12574, 12575, 12576, 12577, 12601, 12602, 12603, 12604, 12628, 12629, 12630, 12631, ...], ('CENTRO OESTE', 'GLP'): [24019, 24020, 24021, 24022, 24046, 24047, 24048, 24049, 24073, 24074, 24075, 24076, 24100, 24101, 24102, 24103, 24127, 24128, 24129, 24130, 24154, 24155, 24156, 24157, 24181, 24182, 24183, 24184, 24208, 24209, 24210, 24211, 24235, 24236, 24237, 24238, 24262, 24263, 24264, 24265, 24289, 24290, 24291, 24292, 24316, 24317, 24318, 24319, 24343, 24344, 24345, 24346, 24370, 24371, 24372, 24373, 24397, 24398, 24399, 24400, 24424, 24425, 24426, 24427, 24451, 24452, 24453, 24454, 24478, 24479, 24480, 24481, 24505, 24506, 24507, 24508, 24532, 24533, 24534, 24535, 24558, 24559, 24560, 24561, 24585, 24586, 24587, 24588, 24612, 24613, 24614, 24615, 24639, 24640, 24641, 24642, 24666, 24667, 24668, 24669, ...], ('CENTRO OESTE', 'GNV'): [35892, 35907, 35922, 35937, 35952, 35967, 35982, 35997, 36012, 36027, 36042, 36057, 36072, 36087, 36102, 36117, 36132, 36147, 36162, 36177, 36192, 36207, 36222, 36237, 36252, 36267, 36283, 36298, 36313, 36329, 36345, 36360, 36375, 36390, 36405, 36420, 36436, 36451, 36466, 36481, 36495, 36510, 36525, 36541, 36557, 36572, 36588, 36604, 36620, 36635, 36650, 36665, 36680, 36695, 36710, 36725, 36740, 36755, 36770, 36785, 36800, 36815, 36830, 36845, 36860, 36875, 36890, 36918, 36932, 36948, 36962, 36991, 37006, 37021, 37037, 37053, 37068, 37084, 37100, 37116, 37132, 37148, 37164, 37180, 37196, 37212, 37228, 37244, 37259, 37275, 37291, 37307, 37323, 37339, 37355, 37371, 37387, 37403, 37419, 37435, ...], ('CENTRO OESTE', 'OLEO DIESEL'): [103494, 103496, 103498, 103499, 103644, 103646, 103648, 103649, 103795, 103797, 103799, 103800, 103945, 103947, 103949, 103950, 104095, 104097, 104099, 104100, 104244, 104246, 104248, 104249, 104393, 104395, 104397, 104398, 104542, 104544, 104546, 104547, 104692, 104694, 104696, 104697, 104841, 104843, 104845, 104846, 104991, 104993, 104995, 104996, 105141, 105143, 105145, 105146, 105292, 105294, 105296, 105297, 105443, 105445, 105447, 105448, 105594, 105596, 105598, 105599, 105744, 105746, 105748, 105749, 105895, 105897, 105899, 105900, 106046, 106048, 106050, 106051, 106195, 106197, 106199, 106200, 106345, 106347, 106349, 106350, 106494, 106496, 106498, 106499, 106645, 106647, 106649, 106650, 106795, 106797, 106799, 106800, 106947, 106949, 106951, 106952, 107101, 107103, 107105, 107106, ...], ('CENTRO OESTE', 'OLEO DIESEL S10'): [103521, 103523, 103525, 103526, 103671, 103673, 103675, 103676, 103822, 103824, 103826, 103827, 103972, 103974, 103976, 103977, 104122, 104124, 104126, 104127, 104271, 104273, 104275, 104276, 104420, 104422, 104424, 104425, 104569, 104571, 104573, 104574, 104719, 104721, 104723, 104724, 104868, 104870, 104872, 104873, 105018, 105020, 105022, 105023, 105168, 105170, 105172, 105173, 105319, 105321, 105323, 105324, 105470, 105472, 105474, 105475, 105621, 105623, 105625, 105626, 105771, 105773, 105775, 105776, 105922, 105924, 105926, 105927, 106073, 106075, 106077, 106078, 106222, 106224, 106226, 106227, 106372, 106374, 106376, 106377, 106521, 106523, 106525, 106526, 106672, 106674, 106676, 106677, 106822, 106824, 106826, 106827, 106974, 106976, 106978, 106979, 107128, 107130, 107132, 107133, ...], ('CENTRO OESTE', 'ÓLEO DIESEL'): [42612, 42613, 42614, 42615, 42639, 42640, 42641, 42642, 42666, 42667, 42668, 42669, 42693, 42694, 42695, 42696, 42720, 42721, 42722, 42723, 42747, 42748, 42749, 42750, 42774, 42775, 42776, 42777, 42801, 42802, 42803, 42804, 42828, 42829, 42830, 42831, 42855, 42856, 42857, 42858, 42882, 42883, 42884, 42885, 42909, 42910, 42911, 42912, 42936, 42937, 42938, 42939, 42963, 42964, 42965, 42966, 42990, 42991, 42992, 42993, 43017, 43018, 43019, 43020, 43044, 43045, 43046, 43047, 43071, 43072, 43073, 43074, 43098, 43099, 43100, 43101, 43125, 43126, 43127, 43128, 43152, 43153, 43154, 43155, 43179, 43180, 43181, 43182, 43206, 43207, 43208, 43209, 43233, 43234, 43235, 43236, 43260, 43261, 43262, 43263, ...], ('CENTRO OESTE', 'ÓLEO DIESEL S10'): [54834, 54835, 54973, 54975, 54976, 55117, 55119, 55120, 55260, 55262, 55264, 55265, 55405, 55407, 55408, 55549, 55551, 55552, 55692, 55694, 55695, 55835, 55837, 55838, 55981, 55983, 55984, 56128, 56130, 56131, 56276, 56278, 56279, 56421, 56423, 56424, 56566, 56568, 56569, 56711, 56713, 56714, 56854, 56856, 56858, 56859, 57002, 57004, 57006, 57007, 57148, 57150, 57152, 57153, 57293, 57295, 57297, 57298, 57440, 57442, 57444, 57445, 57586, 57588, 57590, 57591, 57732, 57734, 57736, 57737, 57879, 57881, 57883, 57884, 58027, 58029, 58030, 58174, 58176, 58177, 58317, 58319, 58320, 58461, 58463, 58464, 58607, 58609, 58610, 58750, 58752, 58753, 58894, 58896, 58897, 59040, 59042, 59043, 59184, 59186, ...], ('NORDESTE', 'ETANOL HIDRATADO'): [4, 5, 6, 7, 8, 9, 10, 11, 12, 31, 32, 33, 34, 35, 36, 37, 38, 39, 58, 59, 60, 61, 62, 63, 64, 65, 66, 85, 86, 87, 88, 89, 90, 91, 92, 93, 112, 113, 114, 115, 116, 117, 118, 119, 120, 139, 140, 141, 142, 143, 144, 145, 146, 147, 166, 167, 168, 169, 170, 171, 172, 173, 174, 193, 194, 195, 196, 197, 198, 199, 200, 201, 220, 221, 222, 223, 224, 225, 226, 227, 228, 247, 248, 249, 250, 251, 252, 253, 254, 255, 274, 275, 276, 277, 278, 279, 280, 281, 282, 301, ...], ('NORDESTE', 'GASOLINA ADITIVADA'): [112480, 112483, 112487, 112492, 112494, 112495, 112497, 112503, 112655, 112658, 112662, 112667, 112669, 112670, 112672, 112678, 112829, 112831, 112835, 112840, 112842, 112843, 112845, 112851, 113002, 113005, 113006, 113010, 113015, 113017, 113018, 113020, 113026, 113180, 113183, 113187, 113192, 113194, 113195, 113197, 113203, 113355, 113358, 113359, 113363, 113368, 113370, 113371, 113373, 113379, 113529, 113532, 113533, 113537, 113542, 113544, 113545, 113547, 113553, 113703, 113706, 113707, 113711, 113716, 113718, 113719, 113721, 113727, 113877, 113880, 113881, 113885, 113890, 113892, 113893, 113895, 113901, 114049, 114052, 114053, 114057, 114062, 114064, 114065, 114067, 114073, 114226, 114229, 114230, 114234, 114239, 114241, 114242, 114244, 114250, 114400, 114403, 114404, 114408, 114413, ...], ('NORDESTE', 'GASOLINA COMUM'): [11984, 11985, 11986, 11987, 11988, 11989, 11990, 11991, 11992, 12011, 12012, 12013, 12014, 12015, 12016, 12017, 12018, 12019, 12038, 12039, 12040, 12041, 12042, 12043, 12044, 12045, 12046, 12065, 12066, 12067, 12068, 12069, 12070, 12071, 12072, 12073, 12092, 12093, 12094, 12095, 12096, 12097, 12098, 12099, 12100, 12119, 12120, 12121, 12122, 12123, 12124, 12125, 12126, 12127, 12146, 12147, 12148, 12149, 12150, 12151, 12152, 12153, 12154, 12173, 12174, 12175, 12176, 12177, 12178, 12179, 12180, 12181, 12200, 12201, 12202, 12203, 12204, 12205, 12206, 12207, 12208, 12227, 12228, 12229, 12230, 12231, 12232, 12233, 12234, 12235, 12254, 12255, 12256, 12257, 12258, 12259, 12260, 12261, 12262, 12281, ...], ('NORDESTE', 'GLP'): [24023, 24024, 24025, 24026, 24027, 24028, 24029, 24030, 24031, 24050, 24051, 24052, 24053, 24054, 24055, 24056, 24057, 24058, 24077, 24078, 24079, 24080, 24081, 24082, 24083, 24084, 24085, 24104, 24105, 24106, 24107, 24108, 24109, 24110, 24111, 24112, 24131, 24132, 24133, 24134, 24135, 24136, 24137, 24138, 24139, 24158, 24159, 24160, 24161, 24162, 24163, 24164, 24165, 24166, 24185, 24186, 24187, 24188, 24189, 24190, 24191, 24192, 24193, 24212, 24213, 24214, 24215, 24216, 24217, 24218, 24219, 24220, 24239, 24240, 24241, 24242, 24243, 24244, 24245, 24246, 24247, 24266, 24267, 24268, 24269, 24270, 24271, 24272, 24273, 24274, 24293, 24294, 24295, 24296, 24297, 24298, 24299, 24300, 24301, 24320, ...], ('NORDESTE', 'GNV'): [35893, 35894, 35895, 35896, 35897, 35898, 35899, 35908, 35909, 35910, 35911, 35912, 35913, 35914, 35923, 35924, 35925, 35926, 35927, 35928, 35929, 35938, 35939, 35940, 35941, 35942, 35943, 35944, 35953, 35954, 35955, 35956, 35957, 35958, 35959, 35968, 35969, 35970, 35971, 35972, 35973, 35974, 35983, 35984, 35985, 35986, 35987, 35988, 35989, 35998, 35999, 36000, 36001, 36002, 36003, 36004, 36013, 36014, 36015, 36016, 36017, 36018, 36019, 36028, 36029, 36030, 36031, 36032, 36033, 36034, 36043, 36044, 36045, 36046, 36047, 36048, 36049, 36058, 36059, 36060, 36061, 36062, 36063, 36064, 36073, 36074, 36075, 36076, 36077, 36078, 36079, 36088, 36089, 36090, 36091, 36092, 36093, 36094, 36103, 36104, ...], ('NORDESTE', 'OLEO DIESEL'): [103489, 103492, 103493, 103497, 103502, 103504, 103505, 103507, 103513, 103639, 103642, 103643, 103647, 103652, 103654, 103655, 103657, 103663, 103790, 103793, 103794, 103798, 103803, 103805, 103806, 103808, 103814, 103940, 103943, 103944, 103948, 103953, 103955, 103956, 103958, 103964, 104090, 104093, 104094, 104098, 104103, 104105, 104106, 104108, 104114, 104239, 104242, 104243, 104247, 104252, 104254, 104255, 104257, 104263, 104388, 104391, 104392, 104396, 104401, 104403, 104404, 104406, 104412, 104537, 104540, 104541, 104545, 104550, 104552, 104553, 104555, 104561, 104687, 104690, 104691, 104695, 104700, 104702, 104703, 104705, 104711, 104836, 104839, 104840, 104844, 104849, 104851, 104852, 104854, 104860, 104986, 104989, 104990, 104994, 104999, 105001, 105002, 105004, 105010, 105136, ...], ('NORDESTE', 'OLEO DIESEL S10'): [103516, 103519, 103520, 103524, 103529, 103531, 103532, 103534, 103540, 103666, 103669, 103670, 103674, 103679, 103681, 103682, 103684, 103690, 103817, 103820, 103821, 103825, 103830, 103832, 103833, 103835, 103841, 103967, 103970, 103971, 103975, 103980, 103982, 103983, 103985, 103991, 104117, 104120, 104121, 104125, 104130, 104132, 104133, 104135, 104141, 104266, 104269, 104270, 104274, 104279, 104281, 104282, 104284, 104290, 104415, 104418, 104419, 104423, 104428, 104430, 104431, 104433, 104439, 104564, 104567, 104568, 104572, 104577, 104579, 104580, 104582, 104588, 104714, 104717, 104718, 104722, 104727, 104729, 104730, 104732, 104738, 104863, 104866, 104867, 104871, 104876, 104878, 104879, 104881, 104887, 105013, 105016, 105017, 105021, 105026, 105028, 105029, 105031, 105037, 105163, ...], ('NORDESTE', 'ÓLEO DIESEL'): [42616, 42617, 42618, 42619, 42620, 42621, 42622, 42623, 42624, 42643, 42644, 42645, 42646, 42647, 42648, 42649, 42650, 42651, 42670, 42671, 42672, 42673, 42674, 42675, 42676, 42677, 42678, 42697, 42698, 42699, 42700, 42701, 42702, 42703, 42704, 42705, 42724, 42725, 42726, 42727, 42728, 42729, 42730, 42731, 42732, 42751, 42752, 42753, 42754, 42755, 42756, 42757, 42758, 42759, 42778, 42779, 42780, 42781, 42782, 42783, 42784, 42785, 42786, 42805, 42806, 42807, 42808, 42809, 42810, 42811, 42812, 42813, 42832, 42833, 42834, 42835, 42836, 42837, 42838, 42839, 42840, 42859, 42860, 42861, 42862, 42863, 42864, 42865, 42866, 42867, 42886, 42887, 42888, 42889, 42890, 42891, 42892, 42893, 42894, 42913, ...], ('NORDESTE', 'ÓLEO DIESEL S10'): [54702, 54703, 54706, 54707, 54829, 54831, 54832, 54833, 54839, 54840, 54842, 54847, 54968, 54970, 54971, 54974, 54979, 54981, 54982, 54984, 54989, 55112, 55114, 55115, 55118, 55123, 55125, 55126, 55128, 55133, 55256, 55258, 55259, 55263, 55268, 55270, 55271, 55273, 55278, 55400, 55402, 55403, 55406, 55411, 55413, 55414, 55416, 55421, 55544, 55546, 55547, 55550, 55555, 55557, 55558, 55560, 55565, 55687, 55689, 55690, 55693, 55698, 55700, 55701, 55703, 55708, 55830, 55832, 55833, 55836, 55841, 55843, 55844, 55846, 55852, 55976, 55978, 55979, 55982, 55987, 55989, 55990, 55992, 55998, 56122, 56125, 56126, 56129, 56134, 56136, 56137, 56139, 56145, 56270, 56273, 56274, 56277, 56282, 56284, 56285, ...], ('NORTE', 'ETANOL HIDRATADO'): [13, 14, 15, 16, 17, 18, 19, 40, 41, 42, 43, 44, 45, 46, 67, 68, 69, 70, 71, 72, 73, 94, 95, 96, 97, 98, 99, 100, 121, 122, 123, 124, 125, 126, 127, 148, 149, 150, 151, 152, 153, 154, 175, 176, 177, 178, 179, 180, 181, 202, 203, 204, 205, 206, 207, 208, 229, 230, 231, 232, 233, 234, 235, 256, 257, 258, 259, 260, 261, 262, 283, 284, 285, 286, 287, 288, 289, 310, 311, 312, 313, 314, 315, 316, 337, 338, 339, 340, 341, 342, 343, 364, 365, 366, 367, 368, 369, 370, 391, 392, ...], ('NORTE', 'GASOLINA ADITIVADA'): [112479, 112481, 112482, 112491, 112499, 112500, 112504, 112654, 112656, 112657, 112666, 112674, 112675, 112679, 112828, 112830, 112839, 112847, 112848, 112852, 113001, 113003, 113004, 113014, 113022, 113023, 113027, 113179, 113181, 113182, 113191, 113199, 113200, 113204, 113354, 113356, 113357, 113367, 113375, 113376, 113380, 113528, 113530, 113531, 113541, 113549, 113550, 113554, 113702, 113704, 113705, 113715, 113723, 113724, 113728, 113876, 113878, 113879, 113889, 113897, 113898, 113902, 114048, 114050, 114051, 114061, 114069, 114070, 114074, 114225, 114227, 114228, 114238, 114246, 114247, 114251, 114399, 114401, 114402, 114412, 114420, 114421, 114425, 114574, 114576, 114577, 114587, 114595, 114596, 114600, 114750, 114752, 114753, 114763, 114771, 114772, 114776, 114926, 114928, 114929, ...], ('NORTE', 'GASOLINA COMUM'): [11993, 11994, 11995, 11996, 11997, 11998, 11999, 12020, 12021, 12022, 12023, 12024, 12025, 12026, 12047, 12048, 12049, 12050, 12051, 12052, 12053, 12074, 12075, 12076, 12077, 12078, 12079, 12080, 12101, 12102, 12103, 12104, 12105, 12106, 12107, 12128, 12129, 12130, 12131, 12132, 12133, 12134, 12155, 12156, 12157, 12158, 12159, 12160, 12161, 12182, 12183, 12184, 12185, 12186, 12187, 12188, 12209, 12210, 12211, 12212, 12213, 12214, 12215, 12236, 12237, 12238, 12239, 12240, 12241, 12242, 12263, 12264, 12265, 12266, 12267, 12268, 12269, 12290, 12291, 12292, 12293, 12294, 12295, 12296, 12317, 12318, 12319, 12320, 12321, 12322, 12323, 12344, 12345, 12346, 12347, 12348, 12349, 12350, 12371, 12372, ...], ('NORTE', 'GLP'): [24032, 24033, 24034, 24035, 24036, 24037, 24038, 24059, 24060, 24061, 24062, 24063, 24064, 24065, 24086, 24087, 24088, 24089, 24090, 24091, 24092, 24113, 24114, 24115, 24116, 24117, 24118, 24119, 24140, 24141, 24142, 24143, 24144, 24145, 24146, 24167, 24168, 24169, 24170, 24171, 24172, 24173, 24194, 24195, 24196, 24197, 24198, 24199, 24200, 24221, 24222, 24223, 24224, 24225, 24226, 24227, 24248, 24249, 24250, 24251, 24252, 24253, 24254, 24275, 24276, 24277, 24278, 24279, 24280, 24281, 24302, 24303, 24304, 24305, 24306, 24307, 24308, 24329, 24330, 24331, 24332, 24333, 24334, 24335, 24356, 24357, 24358, 24359, 24360, 24361, 24362, 24383, 24384, 24385, 24386, 24387, 24388, 24389, 24410, 24411, ...], ('NORTE', 'GNV'): [36940, 37029, 37045, 37076, 37092, 37108, 37124, 37140, 37156, 37172, 37188, 37204, 37220, 37236, 37267, 37283, 37299, 37315, 37331, 37347, 37363, 37379, 37395, 37411, 37427, 37443, 37459, 37475, 37491, 37507, 37524, 37540, 37556, 37572, 37589, 37606, 37622, 37639, 37655, 37671, 37687, 37704, 37721, 37752, 37768, 37783, 37799, 37816, 37833, 37849, 37865, 37882, 37898, 37914, 37931, 37947, 37963, 37979, 37995, 38011, 38027, 38043, 38059, 38075, 38091, 38122, 38169, 38202, 38218, 38235, 38252, 38269, 38302, 38319, 38336, 38369, 38402, 38434, 38466, 39051, 39082, 39099, 39553, 39628, 39644, 40219, 40574, 40634, 40663, 40694, 41442, 42148, 42235, 42350, 42379, 42394, 42423, 42438, 42466, 42537, ...], ('NORTE', 'OLEO DIESEL'): [103488, 103490, 103491, 103501, 103509, 103510, 103514, 103638, 103640, 103641, 103651, 103659, 103660, 103664, 103789, 103791, 103792, 103802, 103810, 103811, 103815, 103939, 103941, 103942, 103952, 103960, 103961, 103965, 104089, 104091, 104092, 104102, 104110, 104111, 104115, 104238, 104240, 104241, 104251, 104259, 104260, 104264, 104387, 104389, 104390, 104400, 104408, 104409, 104413, 104536, 104538, 104539, 104549, 104557, 104558, 104562, 104686, 104688, 104689, 104699, 104707, 104708, 104712, 104835, 104837, 104838, 104848, 104856, 104857, 104861, 104985, 104987, 104988, 104998, 105006, 105007, 105011, 105135, 105137, 105138, 105148, 105156, 105157, 105161, 105286, 105288, 105289, 105299, 105307, 105308, 105312, 105437, 105439, 105440, 105450, 105458, 105459, 105463, 105588, 105590, ...], ('NORTE', 'OLEO DIESEL S10'): [103515, 103517, 103518, 103528, 103536, 103537, 103541, 103665, 103667, 103668, 103678, 103686, 103687, 103691, 103816, 103818, 103819, 103829, 103837, 103838, 103842, 103966, 103968, 103969, 103979, 103987, 103988, 103992, 104116, 104118, 104119, 104129, 104137, 104138, 104142, 104265, 104267, 104268, 104278, 104286, 104287, 104291, 104414, 104416, 104417, 104427, 104435, 104436, 104440, 104563, 104565, 104566, 104576, 104584, 104585, 104589, 104713, 104715, 104716, 104726, 104734, 104735, 104739, 104862, 104864, 104865, 104875, 104883, 104884, 104888, 105012, 105014, 105015, 105025, 105033, 105034, 105038, 105162, 105164, 105165, 105175, 105183, 105184, 105188, 105313, 105315, 105316, 105326, 105334, 105335, 105339, 105464, 105466, 105467, 105477, 105485, 105486, 105490, 105615, 105617, ...], ('NORTE', 'ÓLEO DIESEL'): [42625, 42626, 42627, 42628, 42629, 42630, 42631, 42652, 42653, 42654, 42655, 42656, 42657, 42658, 42679, 42680, 42681, 42682, 42683, 42684, 42685, 42706, 42707, 42708, 42709, 42710, 42711, 42712, 42733, 42734, 42735, 42736, 42737, 42738, 42739, 42760, 42761, 42762, 42763, 42764, 42765, 42766, 42787, 42788, 42789, 42790, 42791, 42792, 42793, 42814, 42815, 42816, 42817, 42818, 42819, 42820, 42841, 42842, 42843, 42844, 42845, 42846, 42847, 42868, 42869, 42870, 42871, 42872, 42873, 42874, 42895, 42896, 42897, 42898, 42899, 42900, 42901, 42922, 42923, 42924, 42925, 42926, 42927, 42928, 42949, 42950, 42951, 42952, 42953, 42954, 42955, 42976, 42977, 42978, 42979, 42980, 42981, 42982, 43003, 43004, ...], ('NORTE', 'ÓLEO DIESEL S10'): [54705, 54709, 54830, 54837, 54844, 54969, 54978, 54986, 55111, 55113, 55122, 55130, 55257, 55267, 55275, 55399, 55401, 55410, 55418, 55422, 55543, 55545, 55554, 55562, 55566, 55686, 55688, 55697, 55705, 55709, 55829, 55831, 55840, 55848, 55849, 55853, 55975, 55977, 55986, 55994, 55995, 55999, 56121, 56123, 56124, 56133, 56141, 56142, 56146, 56269, 56271, 56272, 56281, 56289, 56290, 56294, 56414, 56416, 56417, 56426, 56434, 56435, 56439, 56559, 56561, 56562, 56571, 56579, 56580, 56584, 56704, 56706, 56707, 56716, 56724, 56725, 56729, 56848, 56850, 56851, 56861, 56869, 56870, 56874, 5699

In [25]:
grups.min() # Agrupando os valores minimos de cada produto(ETANOL HIDRATADO, GASOLINA ADITIVADA, GASOLINA COMUM)

                                DATA INICIAL  DATA FINAL            ESTADO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO     2004-05-09  2004-05-15  DISTRITO FEDERAL
             GASOLINA ADITIVADA   2020-10-18  2020-10-24  DISTRITO FEDERAL
             GASOLINA COMUM       2004-05-09  2004-05-15  DISTRITO FEDERAL
             GLP                  2004-05-09  2004-05-15  DISTRITO FEDERAL
             GNV                  2004-05-09  2004-05-15  DISTRITO FEDERAL
             OLEO DIESEL          2019-06-30  2019-07-06  DISTRITO FEDERAL
             OLEO DIESEL S10      2019-06-30  2019-07-06  DISTRITO FEDERAL
             ÓLEO DIESEL          2004-05-09  2004-05-15  DISTRITO FEDERAL
             ÓLEO DIESEL S10      2013-01-06  2013-01-12  DISTRITO FEDERAL
NORDESTE     ETANOL HIDRATADO     2004-05-09  2004-05-15           ALAGOAS
             GASOLINA ADITIVADA   2020-10-18  2020-10-24           ALAGOAS
             GASOLINA COMUM       2004-05-09  2004-05-15           ALAGOAS
             GLP                  2004-05-09  2004-05-15           ALAGOAS
             GNV                  2004-05-09  2004-05-15           ALAGOAS
             OLEO DIESEL          2019-06-30  2019-07-06           ALAGOAS
             OLEO DIESEL S10      2019-06-30  2019-07-06           ALAGOAS
             ÓLEO DIESEL          2004-05-09  2004-05-15           ALAGOAS
             ÓLEO DIESEL S10      2012-12-30  2013-01-05           ALAGOAS
NORTE        ETANOL HIDRATADO     2004-05-09  2004-05-15              ACRE
             GASOLINA ADITIVADA   2020-10-18  2020-10-24              ACRE
             GASOLINA COMUM       2004-05-09  2004-05-15              ACRE
             GLP                  2004-05-09  2004-05-15              ACRE
             GNV                  2005-09-18  2005-09-24             AMAPA
             OLEO DIESEL          2019-06-30  2019-07-06              ACRE
             OLEO DIESEL S10      2019-06-30  2019-07-06              ACRE
             ÓLEO DIESEL          2004-05-09  2004-05-15              ACRE
             ÓLEO DIESEL S10      2012-12-30  2013-01-05              ACRE
SUDESTE      ETANOL HIDRATADO     2004-05-09  2004-05-15    ESPIRITO SANTO
             GASOLINA ADITIVADA   2020-10-18  2020-10-24    ESPIRITO SANTO
             GASOLINA COMUM       2004-05-09  2004-05-15    ESPIRITO SANTO
             GLP                  2004-05-09  2004-05-15    ESPIRITO SANTO
             GNV                  2004-05-09  2004-05-15    ESPIRITO SANTO
             OLEO DIESEL          2019-06-30  2019-07-06    ESPIRITO SANTO
             OLEO DIESEL S10      2019-06-30  2019-07-06    ESPIRITO SANTO
             ÓLEO DIESEL          2004-05-09  2004-05-15    ESPIRITO SANTO
             ÓLEO DIESEL S10      2012-12-30  2013-01-05    ESPIRITO SANTO
SUL          ETANOL HIDRATADO     2004-05-09  2004-05-15            PARANA
             GASOLINA ADITIVADA   2020-10-18  2020-10-24            PARANA
             GASOLINA COMUM       2004-05-09  2004-05-15            PARANA
             GLP                  2004-05-09  2004-05-15            PARANA
             GNV                  2004-05-09  2004-05-15            PARANA
             OLEO DIESEL          2019-06-30  2019-07-06            PARANA
             OLEO DIESEL S10      2019-06-30  2019-07-06            PARANA
             ÓLEO DIESEL          2004-05-09  2004-05-15            PARANA
             ÓLEO DIESEL S10      2012-12-30  2013-01-05            PARANA

                                 NÚMERO DE POSTOS PESQUISADOS  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                               4
             GASOLINA ADITIVADA                             5
             GASOLINA COMUM                                 6
             GLP                                            2
             GNV                                            1
             OLEO DIESEL                                    6
             OLEO DIESEL S10                                8
             ÓLEO DIESEL                                    6
             ÓLEO DIESEL S10                                5
NORDESTE     ETANOL HIDRATADO                               1
             GASOLINA ADITIVADA                             1
             GASOLINA COMUM                                 3
             GLP                                            2
             GNV                                            1
             OLEO DIESEL                                    1
             OLEO DIESEL S10                                7
             ÓLEO DIESEL                                    2
             ÓLEO DIESEL S10                                2
NORTE        ETANOL HIDRATADO                               1
             GASOLINA ADITIVADA                             1
             GASOLINA COMUM                                 4
             GLP                                            3
             GNV                                            1
             OLEO DIESEL                                    1
             OLEO DIESEL S10                                2
             ÓLEO DIESEL                                    4
             ÓLEO DIESEL S10                                1
SUDESTE      ETANOL HIDRATADO                               6
             GASOLINA ADITIVADA                            16
             GASOLINA COMUM                                16
             GLP                                            4
             GNV                                            1
             OLEO DIESEL                                    1
             OLEO DIESEL S10                               12
             ÓLEO DIESEL                                   12
             ÓLEO DIESEL S10                                9
SUL          ETANOL HIDRATADO                               8
             GASOLINA ADITIVADA                            23
             GASOLINA COMUM                                15
             GLP                                            7
             GNV                                            1
             OLEO DIESEL                                    2
             OLEO DIESEL S10                               20
             ÓLEO DIESEL                                   23
             ÓLEO DIESEL S10                                7

                                UNIDADE DE MEDIDA  PREÇO MÉDIO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                R$/l                1.162
             GASOLINA ADITIVADA              R$/l                4.510
             GASOLINA COMUM                  R$/l                1.936
             GLP                          R$/13Kg               28.791
             GNV                            R$/m3                1.097
             OLEO DIESEL                     R$/l                2.976
             OLEO DIESEL S10                 R$/l                3.073
             ÓLEO DIESEL                     R$/l                1.435
             ÓLEO DIESEL S10                 R$/l                2.305
NORDESTE     ETANOL HIDRATADO                R$/l                1.181
             GASOLINA ADITIVADA              R$/l                4.178
             GASOLINA COMUM                  R$/l                1.949
             GLP                          R$/13Kg               28.367
             GNV                            R$/m3                0.975
             OLEO DIESEL                     R$/l                2.929
             OLEO DIESEL S10                 R$/l                2.996
             ÓLEO DIESEL                     R$/l                1.313
             ÓLEO DIESEL S10                 R$/l                2.130
NORTE        ETANOL HIDRATADO                R$/l                1.226
             GASOLINA ADITIVADA              R$/l                3.849
             GASOLINA COMUM                  R$/l                1.995
             GLP                          R$/13Kg               28.086
             GNV                            R$/m3                1.399
             OLEO DIESEL                     R$/l                2.943
             OLEO DIESEL S10                 R$/l                3.000
             ÓLEO DIESEL                     R$/l                1.450
             ÓLEO DIESEL S10                 R$/l                2.193
SUDESTE      ETANOL HIDRATADO                R$/l                0.766
             GASOLINA ADITIVADA              R$/l                4.276
             GASOLINA COMUM                  R$/l                1.888
             GLP                          R$/13Kg               28.026
             GNV                            R$/m3                0.996
             OLEO DIESEL                     R$/l                2.809
             OLEO DIESEL S10                 R$/l                3.054
             ÓLEO DIESEL                     R$/l                1.356
             ÓLEO DIESEL S10                 R$/l                2.180
SUL          ETANOL HIDRATADO                R$/l                0.922
             GASOLINA ADITIVADA              R$/l                4.272
             GASOLINA COMUM                  R$/l                1.961
             GLP                          R$/13Kg               29.440
             GNV                            R$/m3                1.168
             OLEO DIESEL                     R$/l                2.730
             OLEO DIESEL S10                 R$/l                2.827
             ÓLEO DIESEL                     R$/l                1.374
             ÓLEO DIESEL S10                 R$/l                2.151

                                 DESVIO PADRÃO REVENDA  PREÇO MÍNIMO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                    0.000                 0.870
             GASOLINA ADITIVADA                  0.074                 3.950
             GASOLINA COMUM                      0.000                 1.730
             GLP                                 0.345                24.900
             GNV                                 0.000                 1.090
             OLEO DIESEL                         0.051                 2.590
             OLEO DIESEL S10                     0.069                 2.630
             ÓLEO DIESEL                         0.004                 1.270
             ÓLEO DIESEL S10                     0.000                 2.039
NORDESTE     ETANOL HIDRATADO                    0.000                 0.989
             GASOLINA ADITIVADA                  0.000                 3.525
             GASOLINA COMUM                      0.000                 1.650
             GLP                                 0.000                22.000
             GNV                                 0.000                 0.790
             OLEO DIESEL                         0.000                 2.570
             OLEO DIESEL S10                     0.035                 2.579
             ÓLEO DIESEL                         0.008                 1.020
             ÓLEO DIESEL S10                     0.007                 1.938
NORTE        ETANOL HIDRATADO                    0.000                 1.050
             GASOLINA ADITIVADA                  0.000                 3.690
             GASOLINA COMUM                      0.003                 1.750
             GLP                                 0.000                24.000
             GNV                                 0.000                 1.399
             OLEO DIESEL                         0.000                 2.549
             OLEO DIESEL S10                     0.014                 2.599
             ÓLEO DIESEL                         0.009                 1.190
             ÓLEO DIESEL S10                     0.000                 2.090
SUDESTE      ETANOL HIDRATADO                    0.038                 0.590
             GASOLINA ADITIVADA                  0.094                 3.457
             GASOLINA COMUM                      0.035                 1.390
             GLP                                 0.895                21.990
             GNV                                 0.000                 0.659
             OLEO DIESEL                         0.000                 2.539
             OLEO DIESEL S10                     0.086                 2.579
             ÓLEO DIESEL                         0.029                 1.030
             ÓLEO DIESEL S10                     0.033                 1.990
SUL          ETANOL HIDRATADO                    0.050                 0.730
             GASOLINA ADITIVADA                  0.061                 3.849
             GASOLINA COMUM                      0.030                 1.720
             GLP                                 0.952                22.200
             GNV                                 0.000                 1.119
             OLEO DIESEL                         0.063                 2.453
             OLEO DIESEL S10                     0.107                 2.465
             ÓLEO DIESEL                         0.039                 1.219
             ÓLEO DIESEL S10                     0.043                 2.026

                                 PREÇO MÁXIMO REVENDA  MARGEM MÉDIA REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                   1.299            -99999.000
             GASOLINA ADITIVADA                 4.739            -99999.000
             GASOLINA COMUM                     2.070            -99999.000
             GLP                               33.000            -99999.000
             GNV                                1.099            -99999.000
             OLEO DIESEL                        3.399            -99999.000
             OLEO DIESEL S10                    3.559            -99999.000
             ÓLEO DIESEL                        1.490                 0.130
             ÓLEO DIESEL S10                    2.390                 0.180
NORDESTE     ETANOL HIDRATADO                   1.400            -99999.000
             GASOLINA ADITIVADA                 4.459            -99999.000
             GASOLINA COMUM                     2.020            -99999.000
             GLP                               30.000            -99999.000
             GNV                                0.999            -99999.000
             OLEO DIESEL                        3.239            -99999.000
             OLEO DIESEL S10                    3.390            -99999.000
             ÓLEO DIESEL                        1.390                 0.064
             ÓLEO DIESEL S10                    2.199                 0.131
NORTE        ETANOL HIDRATADO                   1.300            -99999.000
             GASOLINA ADITIVADA                 4.090            -99999.000
             GASOLINA COMUM                     2.040            -99999.000
             GLP                               30.000            -99999.000
             GNV                                1.399            -99999.000
             OLEO DIESEL                        3.250            -99999.000
             OLEO DIESEL S10                    3.299            -99999.000
             ÓLEO DIESEL                        1.590                 0.065
             ÓLEO DIESEL S10                    2.380                 0.081
SUDESTE      ETANOL HIDRATADO                   1.150            -99999.000
             GASOLINA ADITIVADA                 4.599            -99999.000
             GASOLINA COMUM                     2.167            -99999.000
             GLP                               32.000            -99999.000
             GNV                                1.099            -99999.000
             OLEO DIESEL                        3.449            -99999.000
             OLEO DIESEL S10                    3.690            -99999.000
             ÓLEO DIESEL                        1.590                 0.129
             ÓLEO DIESEL S10                    2.290                 0.179
SUL          ETANOL HIDRATADO                   1.340            -99999.000
             GASOLINA ADITIVADA                 4.499            -99999.000
             GASOLINA COMUM                     2.188            -99999.000
             GLP                               34.000            -99999.000
             GNV                                1.199            -99999.000
             OLEO DIESEL                        3.210            -99999.000
             OLEO DIESEL S10                    3.390            -99999.000
             ÓLEO DIESEL                        1.524                 0.143
             ÓLEO DIESEL S10                    2.329                 0.181

                                 COEF DE VARIAÇÃO REVENDA  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                       0.000
             GASOLINA ADITIVADA                     0.015
             GASOLINA COMUM                         0.000
             GLP                                    0.010
             GNV                                    0.000
             OLEO DIESEL                            0.013
             OLEO DIESEL S10                        0.017
             ÓLEO DIESEL                            0.001
             ÓLEO DIESEL S10                        0.000
NORDESTE     ETANOL HIDRATADO                       0.000
             GASOLINA ADITIVADA                     0.000
             GASOLINA COMUM                         0.000
             GLP                                    0.000
             GNV                                    0.000
             OLEO DIESEL                            0.000
             OLEO DIESEL S10                        0.009
             ÓLEO DIESEL                            0.005
             ÓLEO DIESEL S10                        0.003
NORTE        ETANOL HIDRATADO                       0.000
             GASOLINA ADITIVADA                     0.000
             GASOLINA COMUM                         0.001
             GLP                                    0.000
             GNV                                    0.000
             OLEO DIESEL                            0.000
             OLEO DIESEL S10                        0.003
             ÓLEO DIESEL                            0.004
             ÓLEO DIESEL S10                        0.000
SUDESTE      ETANOL HIDRATADO                       0.022
             GASOLINA ADITIVADA                     0.020
             GASOLINA COMUM                         0.014
             GLP                                    0.019
             GNV                                    0.000
             OLEO DIESEL                            0.000
             OLEO DIESEL S10                        0.023
             ÓLEO DIESEL                            0.015
             ÓLEO DIESEL S10                        0.015
SUL          ETANOL HIDRATADO                       0.025
             GASOLINA ADITIVADA                     0.013
             GASOLINA COMUM                         0.007
             GLP                                    0.014
             GNV                                    0.000
             OLEO DIESEL                            0.019
             OLEO DIESEL S10                        0.029
             ÓLEO DIESEL                            0.022
             ÓLEO DIESEL S10                        0.020

                                 PREÇO MÉDIO DISTRIBUIÇÃO  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO                  -99999.000
             GASOLINA ADITIVADA                -99999.000
             GASOLINA COMUM                    -99999.000
             GLP                               -99999.000
             GNV                               -99999.000
             OLEO DIESEL                       -99999.000
             OLEO DIESEL S10                   -99999.000
             ÓLEO DIESEL                            1.249

In [26]:
grups['PREÇO MÉDIO REVENDA'].mean() # Procura o preço médio de cada REGIÃO na coluna PREÇO MÉDIO REVENDA

REGIÃO        PRODUTO
CENTRO OESTE  ETANOL HIDRATADO       2.246178
              GASOLINA ADITIVADA     5.094830
              GASOLINA COMUM         3.222415
              GLP                   51.361335
              GNV                    2.038280
              OLEO DIESEL            3.713054
              OLEO DIESEL S10        3.813543
              ÓLEO DIESEL            2.481286
              ÓLEO DIESEL S10        3.294752
NORDESTE      ETANOL HIDRATADO       2.450350
              GASOLINA ADITIVADA     5.069589
              GASOLINA COMUM         3.156391
              GLP                   45.196169
              GNV                    2.033291
              OLEO DIESEL            3.678478
              OLEO DIESEL S10        3.732889
              ÓLEO DIESEL            2.346950
              ÓLEO DIESEL S10        3.041966
NORTE         ETANOL HIDRATADO       2.642997
              GASOLINA ADITIVADA     5.020130
              GASOLINA COMUM         3.285116
              GLP                   50.835467
              GNV                    2.373379
              OLEO DIESEL            3.935767
              OLEO DIESEL S10        3.972659
              ÓLEO DIESEL            2.571048
              ÓLEO DIESEL S10        3.316231
SUDESTE       ETANOL HIDRATADO       2.292143
              GASOLINA ADITIVADA     5.116277
              GASOLINA COMUM         3.161360
              GLP                   44.860509
              GNV                    1.872572
              OLEO DIESEL            3.578250
              OLEO DIESEL S10        3.692063
              ÓLEO DIESEL            2.339699
              ÓLEO DIESEL S10        3.056194
SUL           ETANOL HIDRATADO       2.411797
              GASOLINA ADITIVADA     4.907976
              GASOLINA COMUM         3.112737
              GLP                   46.543403
              GNV                    2.038801
              OLEO DIESEL            3.473068
              OLEO DIESEL S10        3.556614
              ÓLEO DIESEL            2.332293
              ÓLEO DIESEL S10        2.981775
Name: PREÇO MÉDIO REVENDA, dtype: float64

In [33]:
grups['PREÇO MÉDIO REVENDA'].describe() # Faz a contagem, procura os preços médios de revenda e computa o resto dos valores para cada REGIÃO

                                  count       mean        std     min  \
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO    3474.0   2.246178   0.642657   1.162
             GASOLINA ADITIVADA   112.0   5.094830   0.463468   4.510
             GASOLINA COMUM      3486.0   3.222415   0.741955   1.936
             GLP                 3450.0  51.361335  17.570823  28.791
             GNV                  995.0   2.038280   0.600572   1.097
             OLEO DIESEL          352.0   3.713054   0.335093   2.976
             OLEO DIESEL S10      352.0   3.813543   0.327728   3.073
             ÓLEO DIESEL         3134.0   2.481286   0.626930   1.435
             ÓLEO DIESEL S10     1210.0   3.294752   0.421234   2.305
NORDESTE     ETANOL HIDRATADO    7838.0   2.450350   0.701079   1.181
             GASOLINA ADITIVADA   248.0   5.069589   0.454476   4.178
             GASOLINA COMUM      7855.0   3.156391   0.774832   1.949
             GLP                 7202.0  45.196169  14.776847  28.367
             GNV                 5781.0   2.033291   0.673260   0.975
             OLEO DIESEL          781.0   3.678478   0.338698   2.929
             OLEO DIESEL S10      792.0   3.732889   0.341614   2.996
             ÓLEO DIESEL         7061.0   2.346950   0.605705   1.313
             ÓLEO DIESEL S10     3032.0   3.041966   0.441550   2.130
NORTE        ETANOL HIDRATADO    5755.0   2.642997   0.738003   1.226
             GASOLINA ADITIVADA   193.0   5.020130   0.583055   3.849
             GASOLINA COMUM      6080.0   3.285116   0.751171   1.995
             GLP                 5943.0  50.835467  17.838245  28.086
             GNV                  309.0   2.373379   0.800583   1.399
             OLEO DIESEL          602.0   3.935767   0.481576   2.943
             OLEO DIESEL S10      616.0   3.972659   0.443805   3.000
             ÓLEO DIESEL         5465.0   2.571048   0.650994   1.450
             ÓLEO DIESEL S10     2324.0   3.316231   0.529044   2.193
SUDESTE      ETANOL HIDRATADO    3489.0   2.292143   0.751004   0.766
             GASOLINA ADITIVADA   112.0   5.116277   0.563269   4.276
             GASOLINA COMUM      3492.0   3.161360   0.833362   1.888
             GLP                 3488.0  44.860509  13.841360  28.026
             GNV                 3193.0   1.872572   0.625768   0.996
             OLEO DIESEL          352.0   3.578250   0.315255   2.809
             OLEO DIESEL S10      352.0   3.692063   0.298231   3.054
             ÓLEO DIESEL         3140.0   2.339699   0.588641   1.356
             ÓLEO DIESEL S10     1349.0   3.056194   0.418396   2.180
SUL          ETANOL HIDRATADO    2617.0   2.411797   0.815601   0.922
             GASOLINA ADITIVADA    84.0   4.907976   0.479624   4.272
             GASOLINA COMUM      2618.0   3.112737   0.738765   1.961
             GLP                 2607.0  46.543403  14.410602  29.440
             GNV                 2163.0   2.038801   0.664073   1.168
             OLEO DIESEL          264.0   3.473068   0.310182   2.730
             OLEO DIESEL S10      264.0   3.556614   0.302936   2.827
             ÓLEO DIESEL         2354.0   2.332293   0.527845   1.374
             ÓLEO DIESEL S10     1012.0   2.981775   0.365470   2.151

                                      25%      50%       75%      max
REGIÃO       PRODUTO
CENTRO OESTE ETANOL HIDRATADO     1.73900   2.1025   2.71200    4.688
             GASOLINA ADITIVADA   4.68100   4.9285   5.58150    5.966
             GASOLINA COMUM       2.67700   2.9495   3.71675    5.863
             GLP                 37.44900  44.7715  63.87725  105.194
             GNV                  1.58150   1.8900   2.37400    4.090
             OLEO DIESEL          3.53950   3.7395   3.86025    4.486
             OLEO DIESEL S10      3.63625   3.8495   3.96450    4.594
             ÓLEO DIESEL          2.03300   2.2465   3.01900    4.162
             ÓLEO DIESEL S10      2.92425   3.3540   3.61900    4.200
NORDESTE     ETANOL HIDRATADO     1.85400   2.2790   3.09650    4.797
             GASOLINA ADITIVADA   4.72975   4.9400   5.45400    6.050
             GASOLINA COMUM       2.59900   2.7840   3.73450    5.890
             GLP                 33.68900  37.8365  56.70000   91.725
             GNV                  1.65600   1.8430   2.34900    4.779
             OLEO DIESEL          3.48800   3.6890   3.84600    4.678
             OLEO DIESEL S10      3.52450   3.7425   3.89700    4.799
             ÓLEO DIESEL          1.90000   2.0820   2.86700    4.010
             ÓLEO DIESEL S10      2.60000   3.0865   3.33800    4.027
NORTE        ETANOL HIDRATADO     2.06700   2.4170   3.36550    5.960
             GASOLINA ADITIVADA   4.63900   4.9940   5.44400    6.683
             GASOLINA COMUM       2.72200   2.9770   3.86100    6.688
             GLP                 36.80550  44.1460  64.09350  107.500
             GNV                  1.39900   2.2700   3.15000    4.599
             OLEO DIESEL          3.61025   3.8565   4.26775    5.849
             OLEO DIESEL S10      3.66350   3.9130   4.34450    5.861
             ÓLEO DIESEL          2.08600   2.3390   3.08200    4.774
             ÓLEO DIESEL S10      2.88300   3.3155   3.65300    4.878
SUDESTE      ETANOL HIDRATADO     1.73400   2.1670   2.76300    5.226
             GASOLINA ADITIVADA   4.68600   5.0320   5.54175    6.250
             GASOLINA COMUM       2.53000   2.8480   3.72425    6.131
             GLP                 34.05325  40.1635  54.95150   87.091
             GNV                  1.48000   1.7030   2.12200    3.749
             OLEO DIESEL          3.39750   3.5980   3.72375    4.345
             OLEO DIESEL S10      3.52725   3.7075   3.83400    4.384
             ÓLEO DIESEL          1.87600   2.0825   2.82500    3.994
             ÓLEO DIESEL S10      2.65000   3.0910   3.38600    4.080
SUL          ETANOL HIDRATADO     1.75100   2.3280   2.92900    5.521
             GASOLINA ADITIVADA   4.48625   4.7735   5.35950    5.941
             GASOLINA COMUM       2.55400   2.7770   3.66975    5.814
             GLP                 35.38500  41.0200  57.12950   91.189
             GNV                  1.51700   1.8700   2.36800    4.369
             OLEO DIESEL          3.28875   3.4930   3.61325    4.136
             OLEO DIESEL S10      3.37625   3.5770   3.70075    4.226
             ÓLEO DIESEL          1.95100   2.0900   2.78450    3.800
             ÓLEO DIESEL S10      2.66300   2.9910   3.25200    3.815

In [3]:
import pandas as pd
dff = pd.DataFrame([[1, 2, 3],
                    [4, 5, 6],
                    [7, 8, 9],
                    [None, None, None]],
                   columns=['A', 'B', 'C'])
dff

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [6]:
# O agg aplicará uma lista de funções para cada uma das colunas
dff.agg([sum, max])

C:\Users\CAUÊ\AppData\Local\Temp\ipykernel_7724\793290464.py:2: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  dff.agg([sum, max])
C:\Users\CAUÊ\AppData\Local\Temp\ipykernel_7724\793290464.py:2: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  dff.agg([sum, max])

        A     B     C
sum  12.0  15.0  18.0
max   7.0   8.0   9.0

In [11]:
groups = lista_final2.groupby('REGIÃO') # Agrupando os valores 
groups

In [12]:
groups['PREÇO MÉDIO REVENDA'].agg([min, max]) # Computa o preço minimo e maximo de revenda e mostra em um DataFrame

C:\Users\CAUÊ\AppData\Local\Temp\ipykernel_7724\1900860087.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  groups['PREÇO MÉDIO REVENDA'].agg([min, max]) # Computa o preço minimo e maximo de revenda e mostra em um DataFrame
C:\Users\CAUÊ\AppData\Local\Temp\ipykernel_7724\1900860087.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  groups['PREÇO MÉDIO REVENDA'].agg([min, max]) # Computa o preço minimo e maximo de revenda e mostra em um DataFrame

                min      max
REGIÃO
CENTRO OESTE  1.097  105.194
NORDESTE      0.975   91.725
NORTE         1.226  107.500
SUDESTE       0.766   87.091
SUL           0.922   91.189

In [38]:
dff.loc[[1]]

     A    B    C
1  4.0  5.0  6.0

In [13]:
dff.iloc[[0, 1]]

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0

In [44]:
dff.iloc[1, 1]

5.0

# ORDENAÇÃO

In [3]:
notas = pd.DataFrame({
    'Nome': ['Alice', 'José', 'João', 'Maria'],
    'Idade': [20, 19, 20, 21],
    'Nota_Final': [10.0, 6.0, 5.0, 10.0]
})
notas

    Nome  Idade  Nota_Final
0  Alice     20        10.0
1   José     19         6.0
2   João     20         5.0
3  Maria     21        10.0

In [8]:
notas.sort_values(by='Nota_Final') # Ordenando valores do menor para o maior com o'sort_values'

    Nome  Idade  Nota_Final
2   João     20         5.0
1   José     19         6.0
0  Alice     20        10.0
3  Maria     21        10.0

In [18]:
#notas.sort_values(by='Nota_Final', ascending=False).reset_index(drop=True)

In [19]:
notas.sort_values(by='Nota_Final', ascending=False) # Ordenando os valores do menor para o maior com 'sort_values'

    Nome  Idade  Nota_Final
0  Alice     20        10.0
3  Maria     21        10.0
1   José     19         6.0
2   João     20         5.0

In [26]:
# Ordena os registros, primeiramente, pela coluna 'Nota_Final' em ordem crescente 
notas.sort_values(by=['Nota_Final', 'Nome'], ascending=[False, True]) 
notas

    Nome  Idade  Nota_Final
0  Alice     20        10.0
1   José     19         6.0
2   João     20         5.0
3  Maria     21        10.0

In [29]:
# Usando o argumento 'inplace=True', Você altera os mesmos
notas.sort_values(by=['Nota_Final', 'Nome'], ascending=[False, True], inplace=True)
notas

    Nome  Idade  Nota_Final
0  Alice     20        10.0
3  Maria     21        10.0
1   José     19         6.0
2   João     20         5.0

In [34]:
notas.sort_values(by='Nome')

    Nome  Idade  Nota_Final
0  Alice     20        10.0
1   José     19         6.0
2   João     20         5.0
3  Maria     21        10.0

In [36]:
lista_final2

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117387,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.000,0.012,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117388,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.000,0.045,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117389,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.000,0.051,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117390,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.000,0.046,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117391,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000

# EXERCICIOS

### Qual a quantidade de registros de cada produto em cada região?

In [3]:
df = pd.read_csv(r'C:\Users\CAUÊ\Documents\Pandas\Estudos\lista_pre.csv')

In [18]:
group = df.groupby('PRODUTO')
group

In [5]:
group['REGIÃO'].value_counts().to_frame()

                                 count
PRODUTO            REGIÃO
ETANOL HIDRATADO   NORDESTE       7838
                   NORTE          5755
                   SUDESTE        3489
                   CENTRO OESTE   3474
                   SUL            2617
GASOLINA ADITIVADA NORDESTE        248
                   NORTE           193
                   CENTRO OESTE    112
                   SUDESTE         112
                   SUL              84
GASOLINA COMUM     NORDESTE       7855
                   NORTE          6080
                   SUDESTE        3492
                   CENTRO OESTE   3486
                   SUL            2618
GLP                NORDESTE       7202
                   NORTE          5943
                   SUDESTE        3488
                   CENTRO OESTE   3450
                   SUL            2607
GNV                NORDESTE       5781
                   SUDESTE        3193
                   SUL            2163
                   CENTRO OESTE    995
                   NORTE           309
OLEO DIESEL        NORDESTE        781
                   NORTE           602
                   CENTRO OESTE    352
                   SUDESTE         352
                   SUL             264
OLEO DIESEL S10    NORDESTE        792
                   NORTE           616
                   CENTRO OESTE    352
                   SUDESTE         352
                   SUL             264
ÓLEO DIESEL        NORDESTE       7061
                   NORTE          5465
                   SUDESTE        3140
                   CENTRO OESTE   3134
                   SUL            2354
ÓLEO DIESEL S10    NORDESTE       3032
                   NORTE          2324
                   SUDESTE        1349
                   CENTRO OESTE   1210
                   SUL            1012

### Como os preços da Gasolina Comum em São Paulo na Região SUDESTE variaram?

In [22]:
valor = df.query('PRODUTO == "GASOLINA COMUM" and ESTADO == "SAO PAULO" and REGIÃO == "SUDESTE"')

valor.head(10)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
12003,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,GASOLINA COMUM,4107,R$/l,1.891,0.101,1.570,2.399,0.235,0.053,1.656,0.064,1.380,1.9440,0.039
12030,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,GASOLINA COMUM,4133,R$/l,1.888,0.101,1.540,2.220,0.233,0.053,1.655,0.063,1.380,1.9319,0.038
12057,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,GASOLINA COMUM,4139,R$/l,1.894,0.095,1.570,2.399,0.234,0.050,1.660,0.065,1.390,1.9291,0.039
12084,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,GASOLINA COMUM,4139,R$/l,1.912,0.094,1.529,2.199,0.235,0.049,1.677,0.068,1.390,1.9733,0.041
12111,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,GASOLINA COMUM,4138,R$/l,1.919,0.088,1.580,2.399,0.231,0.046,1.688,0.063,1.410,2.0946,0.037
12138,2004-06-13,2004-06-19,SUDESTE,SAO PAULO,GASOLINA COMUM,4131,R$/l,1.958,0.110,1.560,2.303,0.256,0.056,1.702,0.070,1.420,2.0946,0.041
12165,2004-06-20,2004-06-26,SUDESTE,SAO PAULO,GASOLINA COMUM,4140,R$/l,2.036,0.093,1.690,2.399,0.263,0.046,1.773,0.083,1.434,2.7345,0.047
12192,2004-06-27,2004-07-03,SUDESTE,SAO PAULO,GASOLINA COMUM,4122,R$/l,2.033,0.092,1.680,2.399,0.250,0.045,1.783,0.064,1.433,2.1589,0.036
12219,2004-07-04,2004-07-10,SUDESTE,SAO PAULO,GASOLINA COMUM,4137,R$/l,2.032,0.088,1.739,2.499,0.255,0.043,1.777,0.059,1.540,2.4730,0.033
12246,2004-07-11,2004-07-17,SUDESTE,SAO PAULO,GASOLINA COMUM,4147,R$/l,2.030,0.089,1.659,2.399,0.254,0.044,1.776,0.055,1.477,2.1140,0.031

In [20]:
valor.shape

(873, 18)

In [24]:
desvio = valor.describe()
desvio

,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
count,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000,873.000000
mean,2289.475372,2.988205,0.126071,2.611147,3.540817,-3206.939840,0.041995,-3204.817809,-3207.228128,-3205.077242,-3204.504333,-3207.271633
std,813.059110,0.728309,0.036173,0.633145,0.899943,17629.470733,0.004017,17629.857245,17629.418225,17629.809991,17629.914342,17629.410301
min,102.000000,1.888000,0.085000,1.390000,2.199000,-99999.000000,0.030000,-99999.000000,-99999.000000,-99999.000000,-99999.000000,-99999.000000
25%,1640.000000,2.421000,0.099000,2.149000,2.829000,0.312000,0.039000,2.101000,0.053000,1.932100,2.390000,0.024000
50%,2372.000000,2.668000,0.109000,2.349000,3.199000,0.379000,0.042000,2.263000,0.065000,2.080000,2.580000,0.028000
75%,2386.000000,3.516000,0.153000,3.099000,3.999000,0.417000,0.044000,2.998000,0.093000,2.590000,3.320400,0.031000
max,4167.000000,5.318000,0.259000,4.309000,6.149000,0.646000,0.063000,4.085000,0.193000,3.760000,4.551000,0.067000

In [26]:
desvio['DESVIO PADRÃO REVENDA'].describe().to_frame()

       DESVIO PADRÃO REVENDA
count               8.000000
mean              109.233405
std               308.608314
min                 0.036173
25%                 0.095500
50%                 0.117536
75%                 0.179500
max               873.000000

### Como os preços do Etanol Hidratado e da Gasolina Comum  na Bahia na Região NORDESTE variaram?

In [30]:
eta_gas_bahia = df.query('(PRODUTO == "ETANOL HIDRATADO" or PRODUTO == "GASOLINA COMUM") and ESTADO == "BAHIA" and REGIÃO == "NORDESTE"')

eta_gas_bahia

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
5,2004-05-09,2004-05-15,NORDESTE,BAHIA,ETANOL HIDRATADO,408,R$/l,1.383,0.132,0.999,2.050,0.426,0.095,0.957,0.128,0.5686,1.3500,0.134
32,2004-05-16,2004-05-22,NORDESTE,BAHIA,ETANOL HIDRATADO,424,R$/l,1.390,0.133,0.999,2.050,0.413,0.096,0.977,0.119,0.5600,1.3500,0.122
59,2004-05-23,2004-05-29,NORDESTE,BAHIA,ETANOL HIDRATADO,410,R$/l,1.386,0.131,0.999,1.950,0.435,0.095,0.951,0.122,0.4700,1.3500,0.128
86,2004-05-30,2004-06-05,NORDESTE,BAHIA,ETANOL HIDRATADO,422,R$/l,1.386,0.131,0.999,1.950,0.418,0.095,0.968,0.121,0.5686,1.2606,0.125
113,2004-06-06,2004-06-12,NORDESTE,BAHIA,ETANOL HIDRATADO,410,R$/l,1.413,0.113,1.140,1.950,0.462,0.080,0.951,0.137,0.5686,1.2850,0.144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116915,2021-04-11,2021-04-17,NORDESTE,BAHIA,GASOLINA COMUM,149,R$/l,5.425,0.239,5.150,5.959,-99999.000,0.044,-99999.000,-99999.000,-99999.0000,-99999.0000,-99999.000
117040,2021-04-18,2021-04-24,NORDESTE,BAHIA,ETANOL HIDRATADO,113,R$/l,4.085,0.267,3.910,4.999,-99999.000,0.065,-99999.000,-99999.000,-99999.0000,-99999.0000,-99999.000
117093,2021-04-18,2021-04-24,NORDESTE,BAHIA,GASOLINA COMUM,112,R$/l,5.309,0.317,5.050,5.959,-99999.000,0.060,-99999.000,-99999.000,-99999.0000,-99999.0000,-99999.000
117218,2021-04-25,2021-05-01,NORDESTE,BAHIA,ETANOL HIDRATADO,102,R$/l,4.074,0.294,3.860,4.990,-99999.000,0.072,-99999.000,-99999.000,-99999.0000,-99999.0000,-99999.000
117272,2021-04-25,2021-05-01,NORDESTE,BAHIA,GASOLINA COMUM,102,R$/l,5.251,0.390,4.930,5.990,-99999.000,0.074,-99999.000,-99999.000,-99999.0000,-99999.0000,-99999.000

In [31]:
eta_gas_bahia.shape

(1746, 18)

In [32]:
# Considerando o preço do etanol e da gasolina juntos, teremos esssas estatistica descritivas 
eta_gas_bahia['PREÇO MÉDIO REVENDA'].describe().to_frame()

       PREÇO MÉDIO REVENDA
count          1746.000000
mean              2.797974
std               0.849990
min               1.383000
25%               2.148000
50%               2.677000
75%               3.347750
max               5.890000

In [36]:
eta_gas_bahia.groupby('PRODUTO')['PREÇO MÉDIO REVENDA'].describe()

                  count      mean       std    min    25%    50%    75%    max
PRODUTO
ETANOL HIDRATADO  873.0  2.382027  0.686796  1.383  1.771  2.158  3.002  4.797
GASOLINA COMUM    873.0  3.213920  0.792266  2.040  2.656  2.790  3.797  5.890

In [50]:
import pandas as pd

tab1 = {'Numb1': [1, 2, 3], 'Name1': ['Ana', 'Pedro', 'João']}
df1 = pd.DataFrame(tab1)

tab2 = {'Numb2': [3, 2, 1], 'Name2': [32, 41, 12]}
df2 = pd.DataFrame(tab2)

tot = df1.set_index('Numb1').join(df2.set_index('Numb2'))

display(tot)

       Name1  Name2
Numb1
1        Ana     12
2      Pedro     41
3       João     32

# RESOLUÇÕES FINAIS

In [4]:
df

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.110,0.4201,0.96660,0.133
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05000,0.115
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.970,0.095,0.5614,1.16100,0.098
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.830,0.119,0.5991,1.22242,0.143
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.240,0.066,0.941,0.077,0.7441,1.03170,0.082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117387,2021-04-25,2021-05-01,NORTE,RORAIMA,OLEO DIESEL S10,12,R$/l,4.582,0.056,4.510,4.690,-99999.000,0.012,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117388,2021-04-25,2021-05-01,SUL,SANTA CATARINA,OLEO DIESEL S10,100,R$/l,4.141,0.187,3.838,4.739,-99999.000,0.045,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117389,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,OLEO DIESEL S10,886,R$/l,4.246,0.216,3.769,5.199,-99999.000,0.051,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117390,2021-04-25,2021-05-01,NORDESTE,SERGIPE,OLEO DIESEL S10,33,R$/l,4.464,0.205,4.190,4.699,-99999.000,0.046,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000
117391,2021-04-25,2021-05-01,NORTE,TOCANTINS,OLEO DIESEL S10,18,R$/l,4.352,0.156,4.199,4.699,-99999.000,0.036,-99999.000,-99999.000,-99999.0000,-99999.00000,-99999.000

In [20]:
grupo = df.groupby('PRODUTO')

In [21]:
grupo['REGIÃO'].value_counts().to_frame()

                                 count
PRODUTO            REGIÃO
ETANOL HIDRATADO   NORDESTE       7838
                   NORTE          5755
                   SUDESTE        3489
                   CENTRO OESTE   3474
                   SUL            2617
GASOLINA ADITIVADA NORDESTE        248
                   NORTE           193
                   CENTRO OESTE    112
                   SUDESTE         112
                   SUL              84
GASOLINA COMUM     NORDESTE       7855
                   NORTE          6080
                   SUDESTE        3492
                   CENTRO OESTE   3486
                   SUL            2618
GLP                NORDESTE       7202
                   NORTE          5943
                   SUDESTE        3488
                   CENTRO OESTE   3450
                   SUL            2607
GNV                NORDESTE       5781
                   SUDESTE        3193
                   SUL            2163
                   CENTRO OESTE    995
                   NORTE           309
OLEO DIESEL        NORDESTE        781
                   NORTE           602
                   CENTRO OESTE    352
                   SUDESTE         352
                   SUL             264
OLEO DIESEL S10    NORDESTE        792
                   NORTE           616
                   CENTRO OESTE    352
                   SUDESTE         352
                   SUL             264
ÓLEO DIESEL        NORDESTE       7061
                   NORTE          5465
                   SUDESTE        3140
                   CENTRO OESTE   3134
                   SUL            2354
ÓLEO DIESEL S10    NORDESTE       3032
                   NORTE          2324
                   SUDESTE        1349
                   CENTRO OESTE   1210
                   SUL            1012

In [45]:
locate = df.query('(PRODUTO == "GASOLINA COMUM" or PRODUTO == "ETANOL HIDRATADO") and ESTADO == "SAO PAULO" and REGIÃO == "SUDESTE"')
locate

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.570,0.056,0.42710,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.190,0.108,0.576,0.050,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.4120,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.33980,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116935,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999.000,0.045,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117060,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1078,R$/l,3.587,0.183,2.379,4.699,-99999.000,0.051,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117113,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999.000,0.041,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117238,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1183,R$/l,3.694,0.168,3.249,4.899,-99999.000,0.045,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117292,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.000,0.041,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000

In [46]:
locate.shape

(1746, 18)

In [49]:
locate['PREÇO MÉDIO REVENDA'].describe().to_frame()

       PREÇO MÉDIO REVENDA
count          1746.000000
mean              2.449704
std               0.863688
min               0.766000
25%               1.841500
50%               2.424000
75%               2.832500
max               5.318000

In [54]:
locate.groupby('PRODUTO')['PREÇO MÉDIO REVENDA'].describe()

                  count      mean       std    min    25%    50%    75%    max
PRODUTO
ETANOL HIDRATADO  873.0  1.911203  0.617821  0.766  1.318  1.841  2.462  3.981
GASOLINA COMUM    873.0  2.988205  0.728309  1.888  2.421  2.668  3.516  5.318

In [6]:
lista_products = ["GASOLINA COMUM", "ETANOL HIDRATADO"]
df.query('PRODUTO in @lista_products and ESTADO == "SAO PAULO" and REGIÃO == "SUDESTE"')

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.570,0.056,0.42710,1.4123,0.098
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.190,0.108,0.576,0.050,0.43204,0.9724,0.087
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.4120,0.103
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.33980,1.0669,0.112
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116935,2021-04-11,2021-04-17,SUDESTE,SAO PAULO,GASOLINA COMUM,1058,R$/l,5.206,0.234,3.899,5.999,-99999.000,0.045,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117060,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1078,R$/l,3.587,0.183,2.379,4.699,-99999.000,0.051,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117113,2021-04-18,2021-04-24,SUDESTE,SAO PAULO,GASOLINA COMUM,1075,R$/l,5.205,0.216,4.199,5.999,-99999.000,0.041,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117238,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,ETANOL HIDRATADO,1183,R$/l,3.694,0.168,3.249,4.899,-99999.000,0.045,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000
117292,2021-04-25,2021-05-01,SUDESTE,SAO PAULO,GASOLINA COMUM,1187,R$/l,5.265,0.218,4.279,6.099,-99999.000,0.041,-99999.000,-99999.000,-99999.00000,-99999.0000,-99999.000

In [8]:
gasolina_etanol_in_sp = df.query('PRODUTO in @lista_products and ESTADO == "SAO PAULO" and REGIÃO == "SUDESTE"')

In [9]:
gasolina_etanol_in_sp['PREÇO MÉDIO REVENDA'].describe().to_frame() # Filtragem Quadupla

       PREÇO MÉDIO REVENDA
count          1746.000000
mean              2.449704
std               0.863688
min               0.766000
25%               1.841500
50%               2.424000
75%               2.832500
max               5.318000

In [10]:
gasolina_etanol_in_sp.groupby('PRODUTO')['PREÇO MÉDIO REVENDA'].describe()

                  count      mean       std    min    25%    50%    75%    max
PRODUTO
ETANOL HIDRATADO  873.0  1.911203  0.617821  0.766  1.318  1.841  2.462  3.981
GASOLINA COMUM    873.0  2.988205  0.728309  1.888  2.421  2.668  3.516  5.318